<div class="navbar no-margin">
    <div class="navbar-inner">
        <span class="brand">Etude {{ getRefEtude(etude) }} - {{ etude.nom }} |</span>
        <ul class="nav">
            <li><a href="{{ path('mgateSuivi_etude_modifier', {'id': etude.id}) }}"><i class="icon-pencil"></i> Modifier</a></a></li>
            <li><a href="{{ path('mgateSuivi_clientcontact_ajouter', {'id': etude.id}) }}"><i class="icon-list-alt"></i> Ajouter Contact Client</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="{{ path('mgateSuivi_etude_homepage') }}"><i class="icon-th-list"></i> Retour à la liste</a></li>
        </ul>
    </div>
</div>

{% if etude.stateDescription %}
<div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Information Suiveur</h4>
                {{ etude.stateDescription }}
</div>
{% endif %}

<table style="table-layout: fixed;"><!-- class="table" --> 
    <tr>
        <td style="width: 25%;" valign="top">
            <table class="table table-bordered table-striped" style="padding-top: 0px;">
                <tr class="{{ (etude.stateID == 1 ? "info" : (etude.stateID == 2 ? "success" : (etude.stateID == 3 ? "warning" : (etude.stateID == 4 ? "" : "error")))) }}">
                    <td colspan="2" >
                        <h4>Etat : {{ (etude.stateID == 4 ? "Terminée" : (etude.stateID == 5 ? "Avortée" : (etude.stateID == 3 ? "En Pause" : (etude.stateID == 2 ? "En Cours" : "En négociation")))) }}</h4>
                    </td>
                </tr>
                <tr>
                    <th>Client</th>
                    <td>{% include "mgateSuiviBundle:Etude:Buttons/Prospect.html.twig" with  {'prospect':  etude.prospect} %}</td>
                </tr>
                <tr>
                    <th>Suiveur</th>
                    <td>{% include "mgateSuiviBundle:Etude:Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveur} %}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{etude.description }}</td>
                </tr>
                <tr>
                    <th>Création</th>
                    <td>Crée le {{ etude.dateCreation|date("d/m/Y") }}</td>
                </tr>
                <tr>
                    <th>Fin</th>
                    <td>Fin le {{ getDateFin(etude)|date("d/m/Y") }}</td>
                </tr>
                <tr>
                    <th>JEH - Prix</th>
                    <td>{{getNbrJEH(etude) | default('0') }} JEH - {{ getTotalHT(etude) | default('0') }} € HT</td>
                </tr>
            </table>
        </td>
        <td style="padding-left: 20px; width: 75%;" valign="top">
            <div id="linechart" style="width: 100%;"></div>
            <!--<div class="gantt" id="ganttId0"></div>-->
        </td>
    </tr>
</table>

<br />

{% if etude.stateID | default(1) <= 3 %}
    {% include "mgateSuiviBundle:Etude:Infos/warning.html.twig" with  {'etude':  etude} %}
{% endif %}
   
{% set dernierContact = 0 %}
{% if etude.clientContacts | length %}
<table class="table table-bordered table-striped">
    <tr>
        <th>Contact</th>
        <th>Type</th>
        <th>Date</th>
        <th>Fait Par</th>
        <th>Objet</th>
        <th>Résumé</th>
    </tr>
    {% for contact in etude.clientContacts%}
    <tr>
        <td>
            <a href="{{ path('mgateSuivi_clientcontact_modifier', {'id': contact.id}) }}">Contact n°{{loop.index}}</a>
        </td>
        <td>
        {% set dernierContact = dernierContact | date("U") < contact.date |date("U") ? contact.date : dernierContact %}
        {% if contact.moyenContact == 'telephone'%}
            <i title="{{ contact.date | date("d/m/Y - ") ~ contact.faitPar.PrenomNom}}" class="icon-headphones"></i> 
        {% elseif contact.moyenContact == 'mail'%}
            <i title="{{ contact.date | date("d/m/Y - ") ~ contact.faitPar.PrenomNom}}" class="icon-envelope"></i> 
        {% else %}
            <i title="{{ contact.date | date("d/m/Y - ") ~ contact.faitPar.PrenomNom}}" class="icon-eye-open"></i> 
        {% endif %}
        </td>
        <td>
            {{contact.date | date("d/m/Y") }}
        </td>
        <td>
            {{ contact.faitPar.PrenomNom }}
        </td>
        <td>
            {{ contact.objet }}
        </td>
        <td>
            {{ contact.contenu }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}



{% if etude.stateID | default(1) <= 2 %}
    {% include "mgateSuiviBundle:Etude:Infos/info.html.twig" with  {'etude':  etude} %}
{% endif %}
