<nav class="navbar" role="navigation">
    <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-suivi">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<span class="navbar-brand">Suivi de l'étude</span>
		</div>
		<div class="collapse navbar-collapse navbar-suivi">
            <ul class="nav  navbar-nav">
                <li><a href="{{ path('mgateSuivi_suivi_ajouter', {'id': etude.id}) }}"><span class="glyphicon glyphicon-pencil"></span> Ajouter un suivi</a></li>
            </ul>
            <ul class="nav  navbar-nav navbar-right">
                <li><a href="{{ path('mgateSuivi_etude_homepage') }}"><span class="glyphicon glyphicon-th-list"></span> Retour à la liste</a></li>
            </ul>
    </div>
</nav>

<form id="myForm" method="post" action="{{path('mgateSuivi_etude_suivi_update', {'id': etude.id})}}" {{ form_enctype(formSuivi) }}>
                
                
                
                            <table class="table table-striped">
                                    <tr>
                                        <th>Etat de l'Étude</th>
                                        <th>Audité le</th>
                                        <th>Type d'audit</th>
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(formSuivi.stateID) }}</td>
                                        <td>{{ form_widget(formSuivi.auditDate) }}</td>
                                        <td>{{ form_widget(formSuivi.auditType) }}</td>
                                    </tr>
                                        <th colspan="3">{{ form_label(formSuivi.stateDescription) }}</th>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td colspan="3">{{ form_widget(formSuivi.stateDescription) }}</td>
                                    </tr>
                                    {% if etude.suivis is not empty %}
                                    {% set lastSuivi = etude.suivis |last %}
                                    <tr>
                                        <th colspan="2"><a href="{{ path('mgateSuivi_suivi_voir', {'id' : lastSuivi.id}) }}"><span class="label {{ date(lastSuivi.date) > date('-7days') ? 'label-success' : 'label-danger' }}">{{ lastSuivi.date | date("d/m/y") }}</span> Etat</a></th>
                                        <th>TODO</th>
                                    </tr>
                                    <tr>
                                        <td colspan="2">{{lastSuivi.etat | nl2br}}</td>
                                        <td>{{lastSuivi.todo | nl2br}}</td>
                                    </tr>
                                    {% endif %}
                                        
                                </table>
         

                                <table class="table table-striped table-bordered"  onclick="docStateChange();">
                                    <tr>
                                        <th>Document</th>
                                        <th>Statut</th>
                                        <th>Rédigé</th>
                                        <th>Relu</th>
                                        <th>Envoyé</th>
                                        <th>Reçu / Encaissé</th>
                                    </tr>
                                    <!-- AVANT PROJET -->
                                    <tr class="docTabRow">
                                        <th>Avant-Projet</th>
                                        <td class="state">Incomplet</td>
                                        <td>{{ form_widget(formSuivi.ap.redige) }}</td>
                                        <td>{{ form_widget(formSuivi.ap.relu) }}</td>
                                        <td>{{ form_widget(formSuivi.ap.envoye) }}</td>
                                        <td>{{ form_widget(formSuivi.ap.receptionne) }}</td>

                                    </tr>
                                    <!-- CONVENTION CLIENT-->
                                    <tr class="docTabRow">
                                        <th>Convention Client</th>
                                        <td class="state">Incomplet</td>
                                        <td>{{ form_widget(formSuivi.cc.redige) }}</td>
                                        <td>{{ form_widget(formSuivi.cc.relu) }}</td>
                                        <td>{{ form_widget(formSuivi.cc.envoye) }}</td>
                                        <td>{{ form_widget(formSuivi.cc.receptionne) }}</td>
                                    </tr>
                                    <!--FactureVenteS-->
                                    <tr>
                                        <th colspan="8">FactureVentes</th>
                                    </tr>
                                    {% for FactureVente in formSuivi.FactureVentes %}
                                    <tr class="docTabRow">
                                        <th>FactureVente n° {{ loop.index }} {{typeFactureVenteToString(FactureVente.vars.value.type) }}</th>
                                        <td class="state">Incomplet</td>
                                        <td>{{ form_widget(FactureVente.redige) }}</td>
                                        <td>{{ form_widget(FactureVente.relu) }}</td>
                                        <td>{{ form_widget(FactureVente.envoye) }}</td>
                                        <td>{{ form_widget(FactureVente.receptionne) }}</td>
                                    </tr>
                        {% endfor %}
                        <!--RECAPITULATIFS DE MISSION-->
                                    <tr>
                                        <th colspan="8">Récapitulatif de mission</th>
                                    </tr>
                        {% for mission in formSuivi.missions %}
                                    <tr class="docTabRow">
                                        <th>RM n° {{ loop.index }}</th>
                                        <td class="state">Incomplet</td>
                                        <td>{{ form_widget(mission.redige) }}</td>
                                        <td>{{ form_widget(mission.relu) }}</td>
                                        <td>{{ form_widget(mission.envoye) }}</td>
                                        <td>{{ form_widget(mission.receptionne) }}</td>
                                    </tr>
                        {% endfor %}
                        <!--PROCES VERBAUX-->
                                    <tr>
                                        <th colspan="8">Procès-verbaux</th>
                                    </tr>
                        {% for pvi in formSuivi.pvis %}
                                    <tr class="docTabRow">
                                        <th>PVI n° {{ loop.index }}</th>
                                        <td class="state">Incomplet</td>
                                        <td>{{ form_widget(pvi.redige) }}</td>
                                        <td>{{ form_widget(pvi.relu) }}</td>
                                        <td>{{ form_widget(pvi.envoye) }}</td>
                                        <td>{{ form_widget(pvi.receptionne) }}</td>
                                    </tr>
                        {% endfor %}
                                    <tr class="docTabRow">
                                        <th>PVR</th>
                                        <td class="state">Incomplet</td>
                                        <td>{{ form_widget(formSuivi.pvr.redige) }}</td>
                                        <td>{{ form_widget(formSuivi.pvr.relu) }}</td>
                                        <td>{{ form_widget(formSuivi.pvr.envoye) }}</td>
                                        <td>{{ form_widget(formSuivi.pvr.receptionne) }}</td>
                                    </tr>
                                </table>
                        {{ form_rest(formSuivi) }}
                            </form>   