<style>
.titre{
    min-width: 250px;
    cursor:  pointer;
    }
</style>

{# SET ACTIVE PANELS #}
{% set activeAP = (( etude.ap and etude.ap.dateSignature and etude.ap.redige and etude.ap.relu and etude.ap.spt1 and etude.ap.spt2 and etude.ap.envoye and etude.ap.receptionne ) ? "" : "in") %}
{% set activeCC = (( etude.cc and etude.cc.dateSignature and etude.cc.redige and etude.cc.relu and etude.cc.spt1 and etude.cc.spt2 and etude.cc.envoye and etude.cc.receptionne ) ? "" : "in") %}
{% set activeRM = (( activeAP or activeCC ) ? "in" : "") %}
{% set activeFA = (( activeAP or activeCC ) ? "in" : "") %}

<div class="navbar">
    <div class="navbar-inner">
        <span class="brand titre" data-toggle="collapse" data-target="#ap">Avant-Projet - v{{etude.ap.version | default('')}}</span>
        <ul class="nav">
            <li><a href="{{ path('mgateSuivi_ap_rediger', {'id': etude.id}) }}"><i class="icon-pencil"></i> Rediger</a></li>
                    {% if etude.ap.dateSignature |default('0') %}
            <li><a href="{{ path('mgate_publi_publiposter', {'id_etude': etude.id, 'doc' : 'AP'}) }}"><i class="icon-circle-arrow-down"></i> Generer</a></li>
                    {% endif %}
        </ul>
    </div>
</div>
<div id="ap" class="collapse {{activeAP}}">
<table class="table table-striped table-bordered">
    <tr>
        <th>Date de signature</th>
        <th>Nombre de dev. estimé</th>
        <th>Présentation du projet</th>
        <th>Description</th>
        <th>Type de prestation</th>
        <th style="min-width: 200px;">Capacité des intervenants</th>
    </tr>
    <tr>
        <td>{{ ( etude.ap and etude.ap.dateSignature ) ? etude.ap.dateSignature | date("d/m/Y") : "Non signé" }}</td>
        <td>{{ etude.ap.nbrDev| default('Non estimé') }}</td>
        <td>{% if etude.presentationprojet|default(0) %}<i>Dans le cadre de son activité professionnelle, </i>{{etude.prospect.nom |default('')}}{% endif %} {{etude.presentationprojet|default('')|nl2br}}</td>
        <td>{{etude.description|default('')|nl2br}}</td>
        <td>{{etude.typeprestationtostring|default('')}}</td>
        <td>{% if etude.competences|default(0) %}<i>Les réalisateurs de cette étude devront donc être capables de : </i><br />{% endif %}{{etude.competences|default('')|nl2br}}</td>
    </tr>
</table>
</div>

<div class="navbar">
    <div class="navbar-inner">
        <span class="brand titre" data-toggle="collapse" data-target="#cc">Convention Client - v{{etude.cc.version | default('')}}</span>
        <ul class="nav">
            <li><a href="{{ path('mgateSuivi_cc_rediger', {'id': etude.id}) }}"><i class="icon-pencil"></i> Rediger</a></li>
                    {% if etude.cc.dateSignature |default('0') %}
            <li><a href="{{ path('mgate_publi_publiposter', {'id_etude': etude.id, 'doc' : 'CC'}) }}"><i class="icon-circle-arrow-down"></i> Generer</a></li>
                    {% endif %}
        </ul>
    </div>
</div>
<div id="cc" class="collapse {{activeCC}}">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Date de signature</th>
            <th>Signataire Client</th>
            <th>Acompte</th>
            <th>Pourcentage Acompte</th>
        </tr>
        <tr>
            <td>{{ ( etude.cc and etude.cc.dateSignature ) ? etude.cc.dateSignature | date("d/m/Y") : "Non signé" }}</td>
            <td>{{etude.cc.signataire2.prenomnom | default('')}}</td>
            <td>{{ etude.acompte | default(0) ? "Oui" : "Non"}}</td>
            <td>{{etude.pourcentageAcompte * 100 ~ "%" | default('')}}</td>
        </tr>
    </table>
</div>

<div class="navbar">
    <div class="navbar-inner" >
        <span class="brand titre"  data-toggle="collapse" data-target="#rm">Récapitulatif de Mission</span>
        <ul class="nav">
            <li><a href="{{ path('mgateSuivi_missions_modifier', {'id': etude.id}) }}"><i class="icon-pencil"></i>  Intervenants</a></li>
        {% if etude.missions | length %}
            <li><a href="{{ path('mgateSuivi_missions_repartition', {'id': etude.id}) }}"><i class="icon-tasks"></i>  Répartition JEH</a></li>
            <li><a href="{{ path('mgate_publi_publiposter', {'id_etude':etude.id, 'doc':'RM'}) }}"><i class="icon-circle-arrow-down"></i> Generer les RM</a></li>
            <li><a href="{{ path('mgate_publi_publiposter', {'id_etude':etude.id, 'doc':'DM'}) }}"><i class="icon-circle-arrow-down"></i> Generer les DM</a></li>
        {% endif %}
        </ul>
    </div>
</div>
<div id="rm" class="collapse {{activeRM}}">
    <div class="row">
        {% for mission in etude.missions %}
        <div class="span3">
            <table class="table table-bordered table-striped">
                <tr>
                    <td colspan="2">
                        {% include "mgateSuiviBundle:Etude:Buttons/Intervenant.html.twig" with  {'idEtude':  etude.id, 'intervenant' : mission.intervenant, 'keyMission' : loop.index0} %}
                    </td>
                </tr>
                <tr>
                    <td><a href="{{ path('mgate_publi_publiposter', {'id_etude':etude.id, 'doc':'RM', 'key' : loop.index0 }) }}"><i class="icon-circle-arrow-down"></i> RM</a></td> 
                    <td><a href="{{ path('mgate_publi_publiposter', {'id_etude':etude.id, 'doc':'DM', 'key' : loop.index0 }) }}"><i class="icon-circle-arrow-down"></i> DM</a></td>
                </tr>
                <tr>
                    <th>Date de signature</th>

                    <td>{{ mission.dateSignature ? mission.dateSignature | date("d/m/Y") : "non renseigné" }}</td>
                </tr>
                <tr>
                    <th>Progression</th>
                    <td>
                        <div class="progress">
                            <div class="bar" style="width: {{ mission.avancement|default(10) }}%;"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
</div>


<div class="navbar">
    <div class="navbar-inner">
        <span class="brand titre" data-toggle="collapse" data-target="#fa">Factures</span>
        <ul class="nav">
            <li><a href="{{ path('mgateSuivi_facture_rediger', {'id_etude': etude.id, 'type': 'fa'}) }}"><i class="icon-pencil"></i> Rédiger la FA</a></li>
                    {% if etude.fa|default('0') %}
            <li><a href="{{ path('mgateSuivi_facture_ajouter', {'id': etude.id}) }}"><i class="icon-plus"></i> Ajouter une facture intermédiaire</a></li>
            <li><a href="{{ path('mgateSuivi_facture_rediger', {'id_etude': etude.id, 'type': 'fs'}) }}"><i class="icon-pencil"></i> Rédiger la FS</a></li>
                    {% endif %}
        </ul>
    </div>
</div>

<div id="fa" class="collapse">
    {% set montantRestant = getTotalHT(etude) %}
    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="2">Facture</th>
            <th>Date de signature</th>
            <th>Montant H.T.</th>            
        </tr>
        <tr>
            <th colspan="4">Facture d'Acompte</th>
        </tr>
        <tr>
            <td style="width: 100px;">
                <a title="Modifier" href="{{ path('mgateSuivi_facture_rediger', {'id_etude': etude.id, 'type': 'fa'}) }}"><i class="icon-pencil"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a title="Télécharger" href="{{ path('mgate_publi_publiposter', {'id_etude': etude.id, 'doc' : 'FA'}) }}"><i class="icon-circle-arrow-down"></i></a>
            </td>
            <td style="width: 200px;">Facture d'Acompte</td>
            <td>{{ ( etude.fa and etude.fa.dateSignature ) ? etude.fa.dateSignature | date("d/m/Y") : "Non signé" }}</td>
            <td>{{ etude.fa.montantHT | default(0) }} €</td>
        </tr>
        {% set montantRestant =  montantRestant - etude.fa.montantHT | default(0) %}
        {% if etude.fis %}
        <tr>
            <th colspan="4">Factures Intermédiaires</th>
        </tr>
        {% endif %}
        {% for fi in etude.fis %}
        <tr>
            <td>
                <a title="Modifier" href="{{ path('mgateSuivi_facture_modifier', {'id_facture': fi.id}) }}"><i class="icon-pencil"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a title="Télécharger" href="{#{ path('mgate_publi_publiposter', {'id_etude':etude.id, 'doc':'FI', 'key' : loop.index0 }) }#}#"><i class="icon-circle-arrow-down"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a title="Supprimer" href="{{ path('mgateSuivi_facture_supprimer', { 'id': fi.id }) }}"><i class="icon-remove"></i></a>
            </td>
            <td><a href="{{ path('mgateSuivi_facture_modifier', {'id_facture': fi.id}) }}">Facture intermédiaire n° {{ loop.index }}</a></td>
            <td>{{ ( fi and fi.dateSignature ) ? fi.dateSignature | date("d/m/Y") : "Non signé" }}</td>
            <td>{{ fi.montantHT | default(0) }} €</td>
        </tr>
        {% set montantRestant =  montantRestant - fi.montantHT | default(0) %}
        {% endfor %}
        <tr>
            <th colspan="4">Facture de solde</th>
        </tr>
        <tr>
            <td>
                <a title="Modifier" href="{{ path('mgateSuivi_facture_rediger', {'id_etude': etude.id, 'type': 'fs'}) }}"><i class="icon-pencil"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a title="Télécharger" href="{{ path('mgate_publi_publiposter', {'id_etude': etude.id, 'doc' : 'FS'}) }}"><i class="icon-circle-arrow-down"></i></a>
                &nbsp;&nbsp;&nbsp;
                {% if etude.fs.id | default(0) %}
                <a title="Supprimer" href="{{ path('mgateSuivi_facture_supprimer', { 'id': etude.fs.id }) }}"><i class="icon-remove"></i></a>
                {% endif %}
            </td>
            <td>Facture solde</td>
            <td>{{ ( etude.fs and etude.fs.dateSignature ) ? etude.fs.dateSignature | date("d/m/Y") : "Non signé" }}</td>
            <td>{{ etude.fs.montantHT | default(0) }} €</td>
        </tr>
        {% set montantRestant =  montantRestant - etude.fs.montantHT | default(0)  %}
        
    </table>
    <table class="table table-bordered">
        <tr>
            <th>Montant Total H.T.</th>
            <td>{{ getTotalHT(etude) | default('') }} €</td>
            <th>Reste à payer</th>
            <td>{{ montantRestant }} €</td>
        </tr>
    </table>
</div>


            

<div class="navbar">
    <div class="navbar-inner">
        <span class="brand titre" data-toggle="collapse" data-target="#pvs">Procès-Verbaux</span>
        <ul class="nav">
            <li><a href="{{ path('mgateSuivi_procesverbal_rediger', {'id_etude': etude.id, 'type': 'pvr'}) }}"><i class="icon-pencil"></i> Rediger le PVR</a></li>
            <li><a href="{{ path('mgateSuivi_procesverbal_ajouter', {'id': etude.id}) }}"><i class="icon-plus"></i> Ajouter un PVI</a></li>
        </ul>
    </div>
</div>
<div id="pvs" class="collapse">
    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="2">Procès verbal</th>
            <th>Phases concernées</th>
            <th>Date de signature</th>
            <th>Signataire Client</th>
        </tr>
    {% for pvi in etude.pvis %}
        <tr>
            <td style="width: 100px;">
                <a title="Modifier" href="{{ path('mgateSuivi_procesverbal_modifier', {'id_pv': pvi.id}) }}"><i class="icon-pencil"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a title="Télécharger" href="{{ path('mgate_publi_publiposter', {'id_etude':etude.id, 'doc':'PVI', 'key' : loop.index0 }) }}"><i class="icon-circle-arrow-down"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a title="Supprimer" href="#"><i class="icon-remove"></i></a>
            </td>
            <td style="width: 200px;"><a href="{{ path('mgateSuivi_procesverbal_modifier', {'id_pv': pvi.id}) }}">PVI n°{{loop.index}}</a></td>
            <td>
                {% if pvi.phaseID is null %}
                    Aucune !
                {% else %}
                {{ pvi.phaseID }}
                {% endif %}
            </td>
            <td>{{ pvi.dateSignature ? pvi.dateSignature | date("d/m/Y") : "Non signé"}}</td>
            <td>{{ pvi.signataire2 ? pvi.signataire2.nomFormel }}</td>
        </tr>
    {% endfor %}
    {% if etude.pvr %}
        <tr>
            <td><a title="Modifier" href="{{ path('mgateSuivi_procesverbal_rediger', {'id_etude': etude.id, 'type': 'pvr'}) }}"><i class="icon-pencil"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a title="Télécharger" href="{{ path('mgate_publi_publiposter', {'id_etude':etude.id, 'doc':'PVR' }) }}"><i class="icon-circle-arrow-down"></i></a>
            </td>
            <td><a href="{{ path('mgateSuivi_procesverbal_modifier', {'id_pv': etude.pvr.id}) }}">PVR</a></td>
            <td>Toutes</td>
            <td>{{ etude.pvr.dateSignature ? etude.pvr.dateSignature | date("d/m/Y") : "Non signé"}}</td>
            <td>{{ etude.pvr.signataire2 ? etude.pvr.signataire2.nomFormel }}</td>
        </tr>
    {% endif %}
    </table>
</div>




<div class="navbar">
    <div class="navbar-inner">
        <span class="brand titre" data-toggle="collapse" data-target="#avs">Avenants</span>
        <ul class="nav">
            <li><a href="{{ path('mgateSuivi_av_ajouter', {'id': etude.id}) }}">Ajouter un Avenant</a></li>
            <li><a href="{{ path('mgateSuivi_avmission_ajouter', {'id': etude.id}) }}">Ajouter un Avenant au Récapitulatif de Mission</a></li>
        </ul>
    </div>
</div>
<div id="avs" class="collapse">
    {% for av in etude.avs %}
                            <li><a href="{{ path('mgateSuivi_av_modifier', {'id': av.id}) }}">Avenant n°{{av.id}}</a></li>
    {% endfor %}

    {% for av in etude.avMissions %}
                            <li><a href="{{ path('mgateSuivi_avmission_modifier', {'id': av.id}) }}">Avenant n°{{av.id}}</a></li>
    {% endfor %}
                      
</div>

    
                           

    

      
