{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>Liste des Avants-Projet</h2>

    <ul>

        {% for etude in etudes %}
            <li>
                <a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}"> etude numéro {{ etude.id }}</a>
                , faite par le mandat {{ etude.mandat }} créée le {{ etude.dateCreation|date("d/m/Y") }}
            </li>
        {% else %}
            <li>Pas (encore !) d'études</li>
        {% endfor %}

    </ul>

{% endblock %}
