{# Formulaire d'ajout d'une cc #}

<form method="post" {{ form_enctype(form) }}>
	
	<table class="table table-bordered table-striped standard">
	<tr>
		<th>{{ form_label(form.date) }}</th>
        <td>{{ form_widget(form.date) }}</td>
	</tr>
	<tr>
		<th>{{ form_label(form.etat) }}</th>
        <td>{{ form_widget(form.etat) }}</td>
	</tr>
	<tr>
		<th>{{ form_label(form.todo) }}</th>
        <td>{{ form_widget(form.todo) }}</td>
	</tr>
	</table>
	{{ form_widget(form) }}
	
	<input type="submit" value="Enregistrer le nouveau suivi" class="btn"/>
        
</form>
