        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{# layout d'accueil pour les études  #}

{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
Suivi des études - {{ parent() }}
{% endblock %}

{% block javascript_quick %}
{{ parent() }}
    <script src="{{ asset('js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').dataTable({
                "bPaginate": false,
				"aaSorting": [[0,'desc']],
            });
        } );
    </script>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatable.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatable_page.css') }}">
{% endblock %}

{% block content_bundle %}
<h2>Liste des Suivis</h2>
    <table style="width: 100%;" aria-describedby="example_info" class="display dataTable table table-bordered table-striped" id="example" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Date</th>
            <th>Etude</th>
			<th>Suiveur</th>
            <th>Client</th>
            <th>Etat</th>
            <th>Todo</th>
          </tr>
        </thead>
        <tbody>
            {% for s in suivis %}
            <tr>
                <td>{{ s.date | date("d/m/y") }}</td>
                <td>{{ s.etude.nom }}</td>
                <td>{{ s.etude.suiveur.prenomNom}}</td>
                <td>{{ s.etude.prospect.nom}}</td>
                <td>{{ s.etat }}</td>
                <td>{{ s.todo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
            
{% block javascript %}
{{ parent() }}
{% endblock %}