{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier une Facture d'Acompte - {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ form_javascript(form) }}
{% endblock %}
        
{% block content_bundle %}   
        
    <h2>Modifier une Facture d'Acompte</h2>

    {% include "mgateSuiviBundle:Facture:formulaire.html.twig" %} 


    <p>
        <a href="{{ path('mgateSuivi_facture_voir', {'id': facture.id}) }}" >Retour</a>
    </p>

        <form action="{{ path('mgateSuivi_facture_supprimer', { 'id': facture.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
 

   <button onclick="bootbox.confirm('Are you sure?', function(result) { alert('Confirm result: '+result);}); return false;">test</button>
    
    
    
{% endblock %}

