{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier une Facture d'Acompte - {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ form_javascript(form) }}
{% endblock %}
        
{% block content_bundle %}
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript" src="{{ asset('bundles/mgatesuivi/tiny_mce/jquery.tinymce.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/mgatesuivi/js/jquery.ui.datepicker-fr.js') }}"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
        
        
    <h2>Modifier une Facture d'Acompte</h2>

    {% include "mgateSuiviBundle:Facture:formulaire.html.twig" %} 


    <p>
        <a href="{{ path('mgateSuivi_facture_voir', {'id': facture.id}) }}" >Retour</a>
    </p>

        <form action="{{ path('mgateSuivi_facture_supprimer', { 'id': facture.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    
    
{% endblock %}

