{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Rédiger la Facture - {{ parent() }}
{% endblock %}

        
{% block content_bundle %}
        
    <h2>Rédiger la Facture {% if type=="fs" %}de Solde{%elseif type=="fa"%}d'Acompte{%else%}Intermédiaire{%endif%}</h2>

    <form method="post" {{ form_enctype(form) }}>

            {{ form_widget(form) }}

            <input type="submit" value="Enregistrer"/>  
    </form>

{% if type == 'fa' %}   
<div id="dialog" title="Aide au calcul de l'acompte">
    <p>Pourcentage de l'acompte dans l'AP auparavant: <b>{{form.vars.value.pourcentageAcompte *100 }} %</b></p>
    <p>La Facture d'Acompte était auparavant: <b>{{form.vars.value.fa.montantHT }} € HT</b></p>
    <p>Prix total de l'étude : <b>{{ getTotalHT(etude)|default('') }} € HT</b></p>
    <p>
        <label for="montantHelp">Aide au cacul:<br /></label>
        <input type="text" name="montantHelp" id="montantHelp" value="{{form.vars.value.fa.montantHT }}" style="width: 70px"  /> € HT => <span class="pourcentageHelp">//</span> %
        <button id="myButtonUpdate">Utiliser ce pourcentage</button>
    </p>
</div>    
{% endif %}
    
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
<script type="text/javascript">
    
    // Fenetre resumant
    $.ui.dialog.prototype._oldinit = $.ui.dialog.prototype._init;
    $.ui.dialog.prototype._init = function() {
        $(this.element).parent().css('position', 'fixed');
        $(this.element).dialog("option",{
            resizeStop: function(event,ui) {
                var position = [(Math.floor(ui.position.left) - $(window).scrollLeft()),
                                (Math.floor(ui.position.top) - $(window).scrollTop())];
                $(event.target).parent().css('position', 'fixed');
                $(event.target).parent().dialog('option','position',position);
                return true;
            }
        });
        this._oldinit();
    };
    $(function() {
        $( "#dialog" ).dialog({
            position: { 
                  my: 'right center',
                  at: 'right center'
            },
            height:  $(window).height() * 0.25,
            width:  $(window).width() * 0.25
        });
    });
    
    {% if type == 'fa' %}

    function updatePrix() {
        var prix = 0;
        
        prix=$('input.pourcentageAcompte').val()*0.01*{{ getTotalHT(etude)|default(0) }};

        if(prix.toFixed(2) != prix)
            arrondi = "...";
        else
            arrondi = "";
        
        $('input.montantHT').val( prix.toFixed(2) );

    }
    
    function updatePourcentage(apercu) {
        var pourcentage = 0;
        
        pourcentage=$('#montantHelp').val().replace(/,/g,"\.") / {{ getTotalHT(etude)|default(0) }}*100;
        
        if(pourcentage.toFixed(2) != pourcentage)
            arrondi = "<b>...</b>";
        else
            arrondi = "";
        
        if(apercu)
            $('.pourcentageHelp').html( pourcentage.toFixed(2) + arrondi );
        else
        {
            $('input.pourcentageAcompte').val(pourcentage.toFixed(2));
            updatePrix();
        }
     
    }

    jQuery(document).ready(function() {
        
        updatePrix();  
        updatePourcentage(true);
        
         
        $('input.pourcentageAcompte').each(function() {
            $(this).change(function() {
                updatePrix();
            });
        });
         
        $('#myButtonUpdate').on('click', function(e) {
            e.preventDefault();
            updatePourcentage(false);
        });
        
        $('#montantHelp').each(function() {
            $(this).change(function() { 
                updatePourcentage(true);
            });
        });
                
    });
    {% endif %}
    
</script>


{% endblock %}
    