{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Affichage d'une Facture - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>Facture n°{{ facture.id }}</h2>
    
    <i>Version {{facture.version}}</i>

    <div>

    </div>

    <p>
        <a href="{{ path('mgateSuivi_etude_homepage') }}">Retour à la liste des études</a>
        <a href="{{ path('mgateSuivi_facture_modifier', {'id': facture.id}) }}">Modifier la Facture</a>
	
    </p>

{% endblock %}
