{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Affichage d'une FactureVente - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>FactureVente {% if FactureVente.type=="fs" %}de Solde{%elseif FactureVente.type=="fa"%}d'Acompte{%endif%} (id:{{ FactureVente.id }})</h2>
    
    <i>Version {{FactureVente.version}}</i>

    <div>
        <p>Montant HT: {{FactureVente.montantHT}}</p>
    </div>

    <p>
        <a href="{{ path('mgateSuivi_etude_homepage') }}">Retour à la liste des études</a><br />
        <a href="{{ path('mgateSuivi_FactureVente_modifier', {'id_FactureVente': FactureVente.id}) }}">Rédiger la FactureVente</a>
	
    </p>

{% endblock %}
