        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{# Bouton Intervenant
 # Input : intervenant, keyMission, idEtude
 # use : {% include "mgateSuiviBundle:Etude:Buttons/Intervenant.html.twig" with  {'idEtude':  etude.id, 'intervenant' : mission.intervenant, 'keyMission' : mission.id } %}
 #}
{% if intervenant %}
<div class="btn-group" style="width: 220px;">
    <a class="btn btn-primary" href="{{ path('mgatePersonne_membre_voir', {'id': intervenant.id|default('0')}) }}" style="width : 60%; text-align: left; overflow: hidden;">
        <i class="icon-user icon-white"></i> {{ intervenant.personne.prenomNom | default("Intervenant non choisi") }} {{ intervenant.nom | default("") }}
    </a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="mailto:{{ intervenant.personne.email | default("#")}}"><i class="glyphicon glyphicon-envelope"></i> Contacter</a></li>
        <li><a href="{{ path('mgate_publi_publiposter', { 'templateName' : 'CE', 'rootName' : 'mission', 'rootObject_id' : keyMission }) }}"><i class="glyphicon glyphicon-envelope"></i> Générer</a></li>
        <li><a href="#" id="avancement" data-title="{{ idEtude }}" data-content="{{ keyMission }}"><i class="glyphicon glyphicon-envelope"></i> Modifier l'avancement</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="i"></i> autre</a></li>
    </ul>
</div>
{% else %}
<div class="btn-group" style="min-width: 220px;">
<a class="btn btn-info" href="{{ path('mgateSuivi_missions_modifier', {'id': etude.id}) }}">
    <i class="icon-user icon-white"></i> {{ intervenant.personne.prenomNom | default("Intervenant non choisi") }} {{ intervenant.nom | default("") }}
</a>
</div>
{% endif %}