        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{# Boutton Client :
 # Input : prospect
 # use : {% include "mgateSuiviBundle:Etude:Buttons/Prospect.html.twig" with  {'prospect':  etude.prospect} %}
 #}
<div class="btn-group" style="width: 220px;">
    <a title="{{ prospect.nom }}" class="btn btn-warning" href="{{ path('mgatePersonne_prospect_voir', {'id': prospect.id}) }}" style="width : 60%; text-align: left; overflow: hidden;"><i class="icon-user icon-white"></i> {{ prospect.nom }}</a>
    <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('mgatePersonne_prospect_voir', {'id': prospect.id}) }}"><i class="glyphicon glyphicon-info-sign" ></i> Voir</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-envelope" ></i> Contacter</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-comment" ></i> Commenter</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('mgatePersonne_employe_ajouter', {'prospect_id': prospect.id}) }}"><i class="glyphicon glyphicon-plus" ></i> Ajouter un employé</a></li>
        <li><a href="{{ path('mgatePersonne_prospect_modifier', {'id': prospect.id}) }}"><i class="glyphicon glyphicon-pencil" ></i> Modifier</a></li>
    </ul>
</div>