{% extends "mgateTresoBundle::layout.html.twig" %}

{% block title %}
	Facture {{ facture.reference }} - {{ parent() }}
{% endblock %}

{% block content_bundle %}
    <h3>Facture {{ facture.reference }}</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Date d'émission</th>
            <td>{{ facture.dateEmission | date('d/m/Y')}}</td>
        </tr>
        <tr>
            <th>Facture émise {{ facture.type > 1 ? 'pour' : 'par'}}</th>
            <td>{{ facture.beneficiaire.nom }}</td>
        </tr>
        <tr>
            <th>Réglée le </th>
            <td>{{ facture.dateVersement ? facture.dateVersement |date('d/m/Y') : 'Impayée' }}</td>
        </tr>
        <tr>
            <th>Objet</th>
            <td>{{ facture.objet | nl2br}}</td>
        </tr>
    </table>

    
    <table class="table table-bordered table-striped" style="text-align: right;">
        <tr>
            <th colspan="5" class="success">Détails des dépenses</th>
        </tr>
        {% if facture.type <= constant('\\mgate\\TresoBundle\\Entity\\Facture::TYPE_VENTE_ACCOMPTE') %}
        <tr>
            <th>Description</th>
            <th>Prix HT</th>
            <th>Taux TVA</th>
            <th>TVA</th>
            <th>Prix TTC</th>
        </tr>
            {% for detail in facture.details %}
        <tr>
            <td>{{ detail.description }} {% if detail.compte %}<span class="badge" title="{{ detail.compte.libelle }}">{{ detail.compte.numero }}</span>{% endif%}</td>
            <td>{{ detail.montantHT |money}} €</td>
            <td>{{ detail.tauxTVA |money}} %</td>
            <td>{{ detail.montantTVA |money}} €</td>
            <td>{{ detail.montantTTC |money}} €</td>
        </tr>        
            {% endfor %}
        {% else %}
        <tr>
            <th colspan="2">Description</th>
            <th>Nombre J.E.H</th>
            <th>Prix J.E.H</th>
            <th>Prix HT</th>
        </tr>
            {% for detail in facture.details %}
        <tr>
            <td colspan="2">{{ detail.description }} {% if detail.compte %}<span class="badge" title="{{ detail.compte.libelle }}">{{ detail.compte.numero }}</span>{% endif%}</td>
            <td>{{ detail.nombreJEH(true) | default('-') }} J.E.H</td>
            <td>{{ detail.prixJEH |money(false) }} €</td>
            <td>{{ detail.montantHT |money(false) }} €</td>
        </tr>        
            {% endfor %}
        {% endif %}
        <tr>
            <th colspan="5" class="danger">Total</th>               
        </tr>
        {% if facture.type <= constant('\\mgate\\TresoBundle\\Entity\\Facture::TYPE_VENTE_ACCOMPTE') %}
        <tr>
            <td colspan="2">{{ facture.montantHT |money }} € HT</td>
            <td colspan="2">{{ facture.montantTVA |money}} € de TVA</td>
            <td>{{ facture.montantTTC |money}} € TTC</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2">{{ facture.montantHT |money }} € HT</td>
            <td colspan="2">{{ facture.montantTVA |money}} € de TVA ({{ facture.tauxTVAglobal | money }} %)</td>
            <td>{{ facture.montantTTC |money}} € TTC</td>
        </tr>
        {% endif %}
    </table>
    <table class="table">
        <tr>
            <td style="text-align: left;"><button type="button" class="btn btn-primary" onclick="location.href='{{ path('mgateTreso_Facture_modifier', {'id': facture.id})}}';">Modifier la Facture</button></td>
            <td style="text-align: center;"><a type="button" class="btn btn-success" href="{{ path('mgate_publi_publiposter', { 'templateName' : facture.typeAbbrToString , 'rootName' : constant('\\mgate\\PubliBundle\\Controller\\TraitementController::ROOTNAME_FACTURE'), 'rootObject_id' : facture.id}) }}">Générer la Facture</a></td>
            <td style="text-align: right;"><button type="button" class="btn btn-danger" onclick="location.href='{{ path('mgateTreso_Facture_supprimer', {'id': facture.id})}}';">Supprimer la Facture</button></td>
        </tr>
    </table>
{% endblock %}
    
    