{% extends "::layout.html.twig" %}

{% block title %}Identification requise{% endblock %}

{% block stylesheets %}
{{ parent() }}
        <style>
           .centre
           {
                position: relative;
                left: 30%;
           }
        </style>
{% endblock %}


{% block content %}
 <div class="centre">
<p>
{# L'utilisateur est-il connecté ? #}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# L'utilisateur est connecté ! #}
    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>

    {# L'utilisateur est-il admin ? #}
    {% if is_granted('ROLE_ADMIN') %}
        {# L'utilisateur est admin ! #}

    {% endif %}
{% else %}
    {# L'utilisateur n'est pas connecté ! #}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
    <a href="{{ path('fos_user_registration_register') }}">Inscription</a> 
    <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
{% endif %}
</p>

    {% block fos_user_content %}{% endblock %}
</div>
{% endblock %}