{# layout père de suivi bundle #}
{% extends "::layout.html.twig" %}

{% block title %}
    M-GaTE - {{ parent() }}
{% endblock %}

{% block body %}

    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    <h1>Gestion des Clients et des Utilisateurs</h1>
    
    <h4>Sous-Menu</h4>
    <ul>
        <li><a href="{{ path('mgatePersonne_homepage') }}">Accueil</a></li>
        <li><a href="{{ path('mgatePersonne_prospect_homepage') }}">Lister les prospects</a></li>
        <li><a href="{{ path('mgatePersonne_prospect_ajouter') }}">Ajouter un prospect</a></li>
        <li><a href="{{ path('mgatePersonne_membre_homepage') }}">Lister les membres de M-GaTE</a></li>
        <li><a href="{{ path('mgatePersonne_membre_ajouter') }}">Ajouter un membre M-GaTE</a></li>
        <li><a href=""></a>Lister les utilisateurs</li>
        <li><a href="{{ path('fos_user_registration_register') }}">Générer des identifiants pour une personne</a></li>
    </ul>

    <hr>

    {# On définit un nouveau block, que les vues du bundle pourront remplir #}
    {% block content_bundle %}
    {% endblock %}

{% endblock %}