{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Rédiger un Procès-Verbal - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>Ajouter un Procès-Verbal</h2>

<form method="post" {{ form_enctype(form) }}>
	
	{{ form_widget(form) }}
	
	<input type="submit" value="Enregistrer le Procès-Verbal"/> 
</form>


    <p>---  </p>

{% endblock %}

    
{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { known: form.knownSignataire2, knowned: form.signataire2, newed: form.newSignataire2 }%} 
{% endblock %}