        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier un Procès-Verbal - {{ parent() }}
{% endblock %}


{% block content_bundle %}
        
    <h2>Modifier un Procès-Verbal</h2>
    
<form method="post" {{ form_enctype(form) }}>
	
	{{ form_widget(form) }}
	
	<input type="submit" value="Enregistrer le Procès-Verbal"/>
</form>



    <p>
        <a href="{{ path('mgateSuivi_procesverbal_voir', {'id': procesverbal.id}) }}" >Retour</a>
    </p>
    
    <form class="bootbox-confirm" data-content="Êtes-vous sûr de vouloir supprimer définitivement ce PV ?" action="{{ path('mgateSuivi_procesverbal_supprimer', { 'id_pv': form.vars.value.id }) }}" method="post">
    {{ form_widget(delete_form) }}
        <button>Supprimer le Procès-Verbal</button>
    </form>        
    
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { known: form.knownSignataire2, knowned: form.signataire2, newed: form.newSignataire2 }%}
{% endblock %}
