{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier un Procès-Verbal - {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ form_javascript(form) }}
{% endblock %}
        
{% block content_bundle %}
        
    <h2>Modifier un Procès-Verbal</h2>

    {% include "mgateSuiviBundle:ProcesVerbal:formulaire.html.twig" %} 


    <p>
        <a href="{{ path('mgateSuivi_procesverbal_voir', {'id': procesverbal.id}) }}" >Retour</a>
    </p>
    
<ul class="record_actions">
    <li>
        <form action="{{ path('mgateSuivi_procesverbal_supprimer', { 'id_pv': procesverbal.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

        <form action="{{ path('mgateSuivi_procesverbal_supprimer', { 'id_pv': procesverbal.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    
    
{% endblock %}

