{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Rédiger la Procès-Verbal - {{ parent() }}
{% endblock %}

        
{% block content_bundle %}

{% include "::Tools/jquery.html.twig" %}  
{% include "::Tools/jqueryui.html.twig" %}  
{% include "::Tools/select2.html.twig" %}
{% include "::Tools/datepicker.html.twig" %}

        
    <h2>Rédiger le Procès-Verbal {% if type=="pvi" %}Intermédiaire{%elseif type=="pvr"%}de Recette{%endif%}</h2>

<form method="post" {{ form_enctype(form) }}>

	{{ form_widget(form) }}
	
	<input type="submit" value="Enregistrer"/>  
</form>



    <p>
        <a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}" >Retour à l'Etude</a>
    </p>   
    
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
     {% if type=="pvi" %}{% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { doc: form }%}
    {%elseif type=="pvr"%}{% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { doc: form.pvr }%}{%endif%}
     
{% endblock %}