<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>{% block title %}{% endblock %} - My M-GaTE</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('css/bootstrap-responsive.css') }}" rel="stylesheet">
        <style>
                body {
                    width: 95%;
                    margin-left: auto;
                    margin-right: auto;
                }
        </style>
{% endblock %}

{% block head %}
{% endblock %}

{% block javascript_quick %}
            <script src="{{ asset('js/jquery-latest.js') }}"></script>
            <script src="{{ asset('js/jquery.tablesorter.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
        </head>

        <body>
{% block body %} 

    {% block main_header %}
                <div id="header">
            {% block header %}
                        <!--<h1>header</h1>-->
            {% endblock %}
                    </div>
    {% endblock %}

    {% block menu_main %}


                    <div id="menu">
            {% block menu %}
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <a class="brand" href="{{ path('mgate_dashboard_homepage') }}">Tableau de bord</a>
                                    <ul class="nav">
                                        <li><a href="{{ path('mgateSuivi_etude_homepage') }}">Suivi d'étude</a></li>
                                        <li><a href="{{ path('mgatePersonne_prospect_homepage') }}">Gestion des personnes</a></li>
                                         <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                    </ul>
                                </div>
                            </div>
            {% endblock %}
                        </div> 
    {% endblock %}

    {% block content_main %}            
                        <div id="content">
            {% block content %}
            {% endblock %}
                            </div>
    {% endblock %}

    {% block footer_main %}
                            <div id="footer">
            {% block footer %}
                                    <hr>
                                    <footer>
                                        <p style="text-align: right"><i>M-GaTE -- Junior-Entreprise © 2013</i></p>
                                    </footer>
            {% endblock %}
                                </div>
    {% endblock %}

{% endblock %} 

{% block javascript %}
{% endblock %}

                            </body>
                        </html>
