<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>{% block title %}{% endblock %} - My M-GaTE</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.10.0.custom.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/select2.css')}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                padding-top: 40px;
            }
            @media screen and (max-width: 768px) {
                body { padding-top: 0px; }
            }
            
            textarea{
                width: 420px;
                height: 100px;
            }
            select{
                width: 420px;
            }
            input{
                width: 420px;
            }
        </style>
{% endblock %}

{% block head %}
{% endblock %}
        </head>

        <body>
            
{% block javascript_quick %}
            <script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.hover.dropdown.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui-1.10.0.custom.min.js') }}"></script>
            <script src="{{ asset('js/jquery.tablesorter.js') }}"></script>
            <script src="{{ asset('js/bootboxjs.js')}}"></script>
            <script src="{{ asset('js/jquery.ui.datepicker-fr.js')}}"></script>
            <script src="{{ asset('js/select2.min.js')}}"></script>
{% endblock %}            
            
{% block body %} 

    {% block main_header %}
                <div id="header">
            {% block header %}
                        <!--<h1>header</h1>-->
            {% endblock %}
                    </div>
    {% endblock %}

    {% block menu_main %}


            {% block menu %}
                            <div class="navbar navbar-fixed-top">
                                <div class="navbar-inner">
                                    <a class="brand" href="{{ path('mgate_dashboard_homepage') }}">My M-GaTE</a>
                                    
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# L'utilisateur est connecté ! #}
    {% render url('navbar_homepage', {'name' : 'salut'}) %}
{% else %}
    {# L'utilisateur n'est pas connecté ! #}

{% endif %}
                                </div>

                            </div>
            {% endblock %}

    {% endblock %}

    {% block content_main %}            
                        <div id="content">
            {% block content %}
            {% endblock %}
                            </div>
    {% endblock %}

    {% block footer_main %}
                            <div id="footer">
            {% block footer %}
                                    <hr>
                                    <footer>
                                        <p style="text-align: right"><i>M-GaTE -- Junior-Entreprise © 2013</i></p>
                                    </footer>
            {% endblock %}
                                </div>
    {% endblock %}

{% endblock %} 

{% block javascript %}
    <script src="{{ asset('js/bootboxjs.js')}}"></script>
    <script>
        $(function() {
            $( document ).tooltip();
        });
        $(".loading").hide();
    </script>
    
    
    <!-- GOOGLE ANALYTICS -->
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39731105-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
{% endblock %}

    </body>
</html>
