<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>{% block title %}{% endblock %} - Incipio</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/mgate.css')}}"/>
        <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.10.0.custom.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/select2.css')}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>

    /* Sticky footer styles
    -------------------------------------------------- */
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }
    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
    }

    /* Custom page CSS
    -------------------------------------------------- */
    /* Not required for template or sticky footer method. */

    body > .container {
      padding: 60px 15px 0;
    }
    .container .text-muted {
      margin: 20px 0;
    }

    #footer > .container {
      padding-right: 15px;
      padding-left: 15px;
    }

    code {
      font-size: 80%;
    }
    
    .contentMain {
        width: 95%;
        margin-left: auto;
        margin-right: 40px;
        margin-bottom: 100px;
    }

        </style>
{% endblock %}

{% block head %}
{% endblock %}
        </head>

        <body>
            
{% block javascript_quick %}
            <script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui-1.10.0.custom.min.js') }}"></script>
            <script src="{{ asset('js/jquery.tablesorter.js') }}"></script>
            <script src="{{ asset('js/jquery.ui.datepicker-fr.js')}}"></script>
            <script src="{{ asset('js/select2.min.js')}}"></script>
{% endblock %}            
            
{% block body %} 
    {% block main_header %}
            <div id="header" class="hidden-print">
            {% block header %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block menu_main %}
            {% block menu %}
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{# L'utilisateur est connecté ! #}
					{% render url('mgate_dashboard_navbar') %}
					{% else %}
					{# L'utilisateur n'est pas connecté ! #}
				{% endif %}
            {% endblock %}
    {% endblock %}

    {% block content_main %} 
            <div id="content" class="contentMain">
            {% block content %}
            {% endblock %}
            </div>
    {% endblock %}

    {% block footer_main %}
            <div id="footer" class="hidden-print">
        <div class="container">
            <p class="text-muted" style="text-align: center">V 0.1 <i>© Incipio 2014</i></p>
        </div>
    </div>
    {% endblock %}

{% endblock %} 

{% block javascript %}
    <script src="{{ asset('js/bootboxjs.min.js')}}"></script>
    <script>
        $(function() {
            $(document).on("click", ".bootbox-confirm", function(e) {
                e.preventDefault();
                var _this = $(this);
                return bootbox.confirm($(this).data('content'), function(result) {
                    if(result) _this.closest('form').submit();
                });
            });
        });
        $(".loading").hide();
    </script>
    <!-- GOOGLE ANALYTICS -->
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ junior['ga_tracking'] }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
{% endblock %}

    </body>
</html>
