        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

<nav class="navbar" role="navigation">
    <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-suivi">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<span class="navbar-brand">Document relatif à l'étudiant {{ membre.personne.prenomNom }}</span>
		</div>
		<div class="collapse navbar-collapse navbar-suivi">
            <ul class="nav  navbar-nav">
                <li>
                    <a href="{{ path('mgate_publi_document_uploadEtudiant', {'membre_id': membre.id}) }}">
                        <span class="glyphicon glyphicon-pencil"></span> Ajouter un document
                    </a>
                </li>
                <li>
                    <a href="{{ path('mgate_publi_publiposter', { 'templateName' : 'FM', 'rootName' : 'etudiant', 'rootObject_id' : membre.id}) }}">
                        <span class="glyphicon glyphicon-user"></span> Générer la Fiche Membre
                    </a>
                </li>
                <li><a href="{{ path('mgate_publi_publiposter', { 'templateName' : 'CE', 'rootName' : 'etudiant', 'rootObject_id' : membre.id}) }}">
                        <span class="glyphicon glyphicon-paperclip"></span> Générer une Convention Etudiante
                </a></li>
                <li><a href="{{ path('mgate_publi_publiposter', { 'templateName' : 'AC', 'rootName' : 'etudiant', 'rootObject_id' : membre.id}) }}">
                        <span class="glyphicon glyphicon-lock"></span> Générer un Accord de Confidentialité
                </a></li>      
            </ul>
    </div>
</nav>

<table class="table table-bordered table-striped">
    <tr>
        <th>Titre</th>
        <th>Date d'upload</th>
        <th>Mis en ligne par</th>
        {% if is_granted('ROLE_CA') %}
        <th>Action</th>
        {% endif %}
    </tr>
    {% for relatedDocument in membre.relatedDocuments | reverse %}
    {% set doc = relatedDocument.document %}
    <tr>
        <td><a href="{{ app.request.scheme ~ '://' ~ app.request.host ~ app.request.basepath ~ '/' ~ doc.getWebPath }} ">{{ doc.name}}</a></td>
        <td>{{ doc.uptime ? doc.uptime | date('d/m/Y - H:i:s')}}</td>
        <td>{{ doc.author ? doc.author.prenomNom }}</td>
        {% if is_granted('ROLE_CA') %}
        <td><a href="{{ path('mgate_publi_document_delete', {'id' : doc.id }) }}"><i class="glyphicon glyphicon-remove"></i></a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

