{% extends "mgateFormationBundle::layout.html.twig" %}
{% block content_bundle %}
<h2>Formations M-GaTE</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Documents</th>
        <th>Date</th>
        <th>Titre</th>
        <th>Desription</th>
        <th>Formateurs</th>
        <th>Durée</th>      
    </tr>
    {% for formation in formations %}
    <tr>
        <td><i class="icon-circle-arrow-down"></i></td>
        <td>{{ formation.dateDebut | date("d/m/Y") }}</td>
        <td>{{ formation.titre | title }}</td>
        <td>{{ formation.description }}</td>
        <td>{%for personne in formation.formateurs %} {{personne.prenomNom}};{%endfor%}</td>
        <td>{{ (formation.dateFin | date("U") - formation.dateDebut | date("U")) / 60}} minutes</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
