        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgateFormationBundle::layout.html.twig" %}
{% block content_bundle %}
<h2>Formations {{ junior['abbr'] }}</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Documents</th>
        <th>Categories</th>
        <th>Date</th>
        <th>Titre</th>
        <th>Desription</th>
        <th>Formateurs</th>
        <th>Durée</th> 
    </tr>
    {% for mandat, formations in formationsParMandat %}
    <tr>
        <th colspan="7">Mandat {{mandat}}</th>
    </tr>
    {% for formation in formations | reverse %}
    <tr>
        <td>{% if formation.docPath  %}<a href="{{formation.docPath }}"><i class="glyphicon glyphicon-circle-arrow-down"></i></a>{% endif%}</td>
        <td style="min-width: 300px;">{% for cat in formation.categorie %}{{ formation.categoriesChoiceToString[cat] }}<br /> {% endfor %}</td>
        <td>{{ formation.dateDebut | date("d/m/Y") }}</td>
        <td><a href="{{ path('mgate_formation_voir', {'id': formation.id})}}">{{ formation.titre | title }}</a></td>
        <td>{{ formation.description | nl2br }}</td>
        <td>{%for personne in formation.formateurs %} {{personne.prenomNom}};{%endfor%}</td>
        <td>{{ (formation.dateFin | date("U") - formation.dateDebut | date("U")) / 60}} minutes</td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>
{% endblock %}
