{% extends "mgateFormationBundle::layout.html.twig" %}
{% block content_bundle %}
<h2>Formations M-GaTE</h2>

<table class="table table-bordered table-striped">
    <tr>
        <td>{{ formation.dateDebut | date("d/m/Y") }}</td>
        <td>{{ formation.titre | title }}</td>
        <td>{{ formation.description }}</td>
        <td>{%for membre in formation.formateurs %} {{membre.prenomNom}};{%endfor%}</td>
        <td>{{ (formation.dateFin | date("u") - formation.dateDebut | date("u")) / 3600}} minutes</td>
    </tr>
</table>
<button class="btn">Télécharger les documents</button>
{% endblock %}
