        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgatePubliBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Uploader un Document Type
{% endblock %}

{% block content_bundle %}


<h4>Uploader un Document Type</h4>
<form action="" method="post" {{ form_enctype(form) }}>
    <h4></h4>
    <table class="table table-bordered table-striped">
        <tr>
            <td>{{ form_label(form.name) }}</td>
            <td>{{ form_widget(form.name) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.template) }}</td>
            <td>{{ form_widget(form.template) }}</td>
        </tr>
        <tr>
            <th colspan="2">Vérification : </th>
        </tr>
        <tr>
            <td>{{ form_label(form.etude) }}</td>
            <td>{{ form_widget(form.etude) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.etudiant) }}</td>
            <td>{{ form_widget(form.etudiant) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.verification) }}</td>
            <td>{{ form_widget(form.verification) }}</td>
        </tr>
    </table>
    {{ form_widget(form) }}

    <input type="submit" class="btn btn-success" value="Uploader" />
</form>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}