<table class="table table-striped table-bordered">
    <tr>
        <th colspan="2">
            <div class="navbar">
                <div class="navbar-inner">
                  <span class="brand">Avant-Projet</span>
                  <ul class="nav">
                    <li><a href="{{ path('mgateSuivi_ap_rediger', {'id': etude.id}) }}"><i class="icon-pencil"></i> Rediger</a></li>
                    {% if etude.ap|default('0') %}
                    <li><a href="{{ path('mgate_publi_publiposter', {'id_etude': etude.id, 'doc' : 'AP'}) }}"><i class="icon-circle-arrow-down"></i> Generer</a></li>
                    {% endif %}
                    {% if etude.ap.generer|default('0') %}
                    <li><a href="{{ path('mgateSuivi_ap_suivi', {'id': etude.id}) }}">Suivi</a></li>
                    {% endif %} 
                  </ul>
                </div>
              </div>
        </th>
</tr>
<tr>
    <th>Version</th>
    <td>{{etude.ap.version | default('')}}</td>
</tr>
<tr>
                                {% if etude.ap and etude.ap.dateSignature %} 
        <th><span class="label label-success">Date de signature</span></th>
        <td>

                                        {{etude.ap.dateSignature | date("d/m/Y") }}
                                {% else %}
        <th><span class="label label-important">Date de signature</span></th>
        <td>
            non renseigné
                                {% endif %}
        </td>
    </tr>
    <tr>
        <th>Nombre de dev. estimé</th>
        <td>{{ etude.ap.nbrDev| default('Non estimé') }}</td>
    </tr>
    <tr>
        <th>Présentation du projet</th>
        <td>{{etude.presentationprojet|default('')|nl2br}}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{etude.description|default('')|nl2br}}</td>
    </tr>
    <tr>
        <th>Type de prestation</th>
        <td>{{etude.typeprestationtostring|default('')}}</td>
    </tr>
    <tr>
        <th>Capacité des intervenants</th>
        <td>{{etude.competences|default('')|nl2br}}</td>
    </tr>
</table>
