<table class="table table-striped table-bordered">
    <tr>
        <th colspan="2">
    <div class="btn-group btn-large">
        <button class="btn dropdown-toggle btn-large" data-toggle="dropdown">Récapitulatif de Mission <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('mgateSuivi_missions_modifier', {'id': etude.id}) }}"><i class="icon-pencil"></i>  Modifier les Intervenants</a></li>
            <li><a href="{{ path('mgateSuivi_missions_repartition', {'id': etude.id}) }}"><i class="icon-pencil"></i>  Répartir les JEH</a></li>
            <li><a href="{{ path('mgate_publi_publiposter', {'id_etude':etude.id, 'doc':'RM'}) }}"><i class="icon-circle-arrow-down"></i> Generer</a></li>
        </ul>
    </div>
</th>
</tr>
                                    {% for mission in etude.missions %}
<tr>
    <td colspan="2">
        <div class="btn-group">
            <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> {{ mission.intervenant.personne.prenomNom | default("Intervenant non choisi") }} {{ mission.intervenant.nom | default("") }}</a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('mgateSuivi_mission_rediger', {'id': mission.id}) }}">Rédiger l'RM</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-envelope"></i> Contacter</a></li>
            </ul>
        </div>
    </td>
</tr>
<tr>
    <th>Date de signature</th>
    
    <td>{% if mission.dateSignature %} {{mission.dateSignature|date("d/m/Y")}}{% else %}non renseigné{% endif %}</td>
</tr>
<tr>
    <th>Progression</th>
    <td><div class="progress">
            <div class="bar" style="width: {{ mission.avancement|default(10) }}%;"></div>
        </div></td>
</tr>
                                    {% endfor %}
</table>