<link rel="stylesheet" href="{{ asset('css/gantt.css')}}" /> 
<table class="table table-striped" id="myTable">
      <thead>
          <tr>
              <th>
                  Status
              </th>
              <th>
                  <div>Nom de l'étude</div>
                  <div>Référence</div>
              </th>
              <th>
                  <div>Client</div>
                  <div>Suiveur</div>
              </th>
              <th>
                  <div>Date de Lancement</div>
                  <div>Date de Fin</div>
              </th>
              <th>
                   Avancement
              </th>
              <th>
                   Developpeurs
              </th>
              <th>
                   <div>Prix H.T</div>
                   <div>Nbre J.E.H.</div>
              </th>
            </tr>
 	 </thead>
 	 <tbody>
        <!-- Juste un exemple Pour test.... -->
        {% set valider = "http://passagestecroix.ek.la/images/menubar/icon_tick.png" %}
        {% set Nvalider = "http://www.neuroscoop.net/images_communes/croix_rouge3D.png" %}
        {% set options = " no-repeat 0 0.32em ; list-style-type: none; padding-left: 20px;" %}

        {% for etude in etudes %}
        {% if modeListe%}
            {% include "mgateSuiviBundle:Etude:Blocks/ligne.html.twig" with  {'etude':  etude, 'modeListe' : modeListe, 'user' : user} %}
        {% else %}
            {% include "mgateSuiviBundle:Etude:Blocks/longLine.html.twig" with  {'etude':  etude, 'modeListe' : modeListe, 'user' : user} %}
        {% endif %}
        {% endfor %}
 	 </tbody>
  </table>
<script src="{{ asset('js/jquery.fn.gantt.js')}}"></script>
    <script src="http://taitems.github.com/UX-Lab/core/js/prettify.js"></script>

 <script>
     $(".contain").css({'margin' : '0 auto', 'width' : $(document).width() - 200 + 'px'});
     
     
     
     {% if modeListe == 0%}
{% for etude in etudes %}
		$(function() {

			"use strict";
                        
			$("#ganttId{{loop.index}}").gantt({
				source: [
                                {% if etude.dateCreation %}   
                                {
					name: "Etude",
					desc: "Création",
					values: [{
						from: "/Date({{etude.dateCreation|date('U')}}000)/",
						to: "/Date({{etude.dateCreation|date('U')}}000)/",
						label: "Start", 
						customClass: "ganttBlue",
                                                dataObj: "Durée de l'étude"
					}]
				},
                                {% endif %}
                                {% if getDateLancement(etude) %}   
                                {
					name: "",
					desc: "Durée",
					values: [{
						from: "/Date({{getDateLancement(etude)|date('U')}}000)/",
						to: "/Date({{getDateFin(etude)|date('U')}}000)/",
						label: "Durée de l'Etude", 
						customClass: "ganttGreen",
                                                dataObj: "Durée de l'étude"
					}]
				},
                                {% endif %}
                                {% if etude.ap and etude.ap.datesignature %}  
                                {
					name: "Avant-Projet",
					desc: "Signé",
					values: [{
						from: "/Date({{etude.ap.datesignature|date('U')}}000)/",
						to: "/Date({{etude.ap.datesignature|date('U')}}000)/",
						label: "AP", 
						customClass: "ganttGreen",
                                                dataObj: "Durée de l'étude"
					}]
				},
                                {% else %}{#else if verifierDate == false affiche Erreur ... gantt RED#}
                                {
					name: "Avant-Projet",
					desc: "Non Signé",
					values: [{
						from: "/Date({{"now"|date('U')}}000)/",
						to: "/Date({{"now"|date('U')}}000)/",
						label: "AP", 
						customClass: "ganttRed",
                                                dataObj: "Durée de l'étude"
					}]
				},
                                {% endif %}
                                {% if etude.cc and etude.cc.datesignature %}  
                                {
					name: "Convention Client",
					desc: "Signé",
					values: [{
						from: "/Date({{etude.cc.datesignature|date('U')}}000)/",
						to: "/Date({{etude.cc.datesignature|date('U')}}000)/",
						label: "CC", 
						customClass: "ganttGreen",
                                                dataObj: "Durée de l'étude"
					}]
				},
                                {% else %}
                                {
					name: "Convention Client",
					desc: "Non Signé",
					values: [{
						from: "/Date({{"now"|date('U')}}000)/",
						to: "/Date({{"now"|date('U')}}000)/",
						label: "CC", 
						customClass: "ganttRed",
                                                dataObj: "Durée de l'étude"
					}]
				},
                                {% endif %}
                                {% for clientContact in etude.clientcontacts %}   
                                {
					name: {%if loop.index == 1 %}"Contact Client" {%else%} "" {% endif%},
					desc: "Contact {{loop.index}}",
					values: [{
						from: "/Date({{clientContact.date|date('U')}}000)/",
						to: "/Date({{clientContact.date|date('U')}}000)/",
						label: "Contact", 
						customClass: "ganttBlue",
                                                dataObj: "Durée de l'étude"
					}]
				},
                                {% endfor %}
                        ],
				navigate: "scroll",
				scale: "weeks",
				maxScale: "years",
				minScale: "days",
				itemsPerPage: 10,
			});
			prettyPrint();

		});
                {% endfor %}
                {% endif %}

    </script>