        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

<form method="post" {{ form_enctype(form) }}>
	
    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="6">Informations</th>
        </tr>
        <tr>
            <td>{{ form_label(form.personne.sexe) }}</td>
            <td>{{ form_widget(form.personne.sexe) }}</td>
            <td>{{ form_label(form.personne.prenom) }}</td>
            <td>{{ form_widget(form.personne.prenom) }}</td>
            <td>{{ form_label(form.personne.nom) }}</td>
            <td>{{ form_widget(form.personne.nom) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.personne.mobile) }}</td>
            <td>{{ form_widget(form.personne.mobile) }}</td>
            <td>{{ form_label(form.personne.fix) }}</td>
            <td>{{ form_widget(form.personne.fix) }}</td>
            <td>{{ form_label(form.poste) }}</td>
            <td>{{ form_widget(form.poste) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.personne.email) }}</td>
            <td>{{ form_widget(form.personne.email) }}</td>
            <td>{{ form_label(form.personne.estAbonneNewsletter)}}</td>
            <td>{{ form_widget(form.personne.estAbonneNewsletter)}}</td>
            <td>{{ form_label(form.personne.emailEstValide)}}</td>
            <td>{{ form_widget(form.personne.emailEstValide)}}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.personne.adresse) }}</td>
            <td colspan="5">{{ form_widget(form.personne.adresse) }}</td>
        </tr>
    </table>
	{{ form_widget(form) }}
	
	<input type="submit" />
</form>
