<div class="accordion" id="accordion{{key}}">
    {% for mandat in etudesParMandat |reverse %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{key}}" href="#collapse{{key}}{{loop.index}}" data-mandat="{{ etudesParMandat | length - loop.index0 }}" data-stateID="{{key +3}}" data-loaded="false">
                    Mandat {{ etudesParMandat | length - loop.index0 }}
                </a>
            </div>
            <div id="collapse{{key}}{{loop.index}}" class="accordion-body collapse">
                <div class="accordion-inner mandat{{ etudesParMandat | length - loop.index0 }} stateID{{3+key}}">
                </div>
            </div>
        </div>
    {% endfor%}
</div>
