<table class="table table-striped" id="myTable">
      <thead>
          <tr>
              <th>
                  Statuts
              </th>
              <th>
                  <div>Nom de l'étude</div>
                  <div>Référence</div>
              </th>
              <th>
                  <div>Date de Lancement</div>
                  <div>Date de Fin</div>
              </th>
              <th>
                  <div>Client</div>
                  <div>Suiveur</div>
              </th>

              <th>
                   Developpeurs
              </th>
              <th>
                   AP
              </th>
              <th>
                   CC
              </th>
              <th>
                   FA
              </th>
              <th>
                   RM
              </th>
              <th>
                   PVI
              </th>
              <th>
                   PVR
              </th>
              <th>
                   FS
              </th>
              <th>
                   RP
              </th>
              <th>
                   BV
              </th>
              <th>
                   Paiement
              </th>
              <th>
                   Cloture
              </th>
              <th>
                   <div>Prix H.T</div>
                   <div>Nbre J.E.H.</div>
              </th>
            </tr>
 	 </thead>
 	 <tbody>
        <!-- Juste un exemple Pour test.... -->
        {% set valider = "http://passagestecroix.ek.la/images/menubar/icon_tick.png" %}
        {% set Nvalider = "http://www.neuroscoop.net/images_communes/croix_rouge3D.png" %}

        {% for etude in etudesEnCours %}
<tr>
    <td><i id="commentaire" class="icon-search" data-title="{{ etude.id }}" data-content="0"></i></td>
    <td><div>{{ etude.nom }}</div><div> <a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}"> {{ getRefEtude(etude) }}</a></div></td>
    <td>
        {% if getDateLancement(etude) != NULL %}<div>{{ getDateLancement(etude)|date("d/m/Y") }}</div>{% endif %}
        <br/>
        {% if getDateFin(etude) != NULL %}<div>{{ getDateFin(etude)|date("d/m/Y") }}</div>{% endif %}
    </td>
    <td>
        {% include "mgateSuiviBundle:Etude:Buttons/Prospect.html.twig" with  {'prospect':  etude.prospect} %}
        <br /><br />
        {% include "mgateSuiviBundle:Etude:Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveur} %}
    </td>
    
        <td>
             {% for mission in etude.missions %}
                {% include "mgateSuiviBundle:Etude:Buttons/Intervenant.html.twig" with  {'idEtude':  etude.id, 'intervenant' : mission.intervenant, 'keyMission' : loop.index0 } %}
                    {% if loop.index != loop.last %}
                <br /><br />
                    {% endif %}



    {% endfor %}
            </td>
        <td>
        {% if getEtatDoc(etude.ap) %} {#pas les bonnes conditions#}
                        <img src="{{ valider }}" />
        {% else %}
                        <img src="{{ Nvalider }}" />
        {% endif %}
            </td>
       
            <td>
        {% if getEtatDoc(etude.cc) %}
                        <img src="{{ valider }}" />
        {% else %}
                        <img src="{{ Nvalider }}" />
        {% endif %}
            </td>
            <td>
        {% if getEtatDoc(etude.fa) %}
                        <img src="{{ valider }}" />
        {% else %}
                        <img src="{{ Nvalider }}" />
        {% endif %}
            </td>
            <td>
        {% for mission in etude.missions %}
            {% if  getEtatDoc(mission) %}
                            <img src="{{ valider }}" />
            {% else %}
                            <img src="{{ Nvalider }}" />
            {% endif %}
                            <br><br>
        {% endfor %}
            </td>
            <td>
        {% for pvi in etude.pvis %}
            {% if  getEtatDoc(pvi) %}
                            <img src="{{ valider }}" />
            {% else %}
                            <img src="{{ Nvalider }}" />
            {% endif %}
                            <br><br>
        {% endfor %}
            </td>
            <td>
        {% if getEtatDoc(etude.pvr) %}
                        <img src="{{ valider }}" />
        {% else %}
                        <img src="{{ Nvalider }}" />
        {% endif %}
            </td>
            <td>
        {% if getEtatDoc(etude.fs) %}
                        <img src="{{ valider }}" />
        {% else %}
                        <img src="{{ Nvalider }}" />
        {% endif %}
            </td>
            <td>

            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                <div>{{ getTotalHT(etude)|default('') }} €</div>
                <div>{{ getNbrJEH(etude)|default('') }} JEH</div>
            </td>
        </tr>
        {% endfor %}
 	 </tbody>
  </table>

