{% set valide    = asset('img/succes.png') %}
{% set nonValide = asset('img/cross.png') %}
{% set enCours   = asset('img/progress.png') %}

<table class="table table-striped" id="myTable">
      <thead>
          <tr>
              <th>
                  <div>Nom de l'étude</div>
                  <div>Référence</div>
              </th>
              <th>
                  <div>Date de Lancement</div>
                  <div>Date de Fin</div>
              </th>
              <th>
                  <div>Client</div>
                  <div>Suiveur</div>
              </th>

              <th>
                   Developpeurs
              </th>
              <th>
                   AP
              </th>
              <th>
                   CC
              </th>
              <th>
                   FA
              </th>
              <th>
                   RM
              </th>
              <th>
                   Avancement
              </th>
              <th>
                   PVR
              </th>
              <th>
                   FS
              </th>
              <th>
                   RP
              </th>
              <th>
                   BV
              </th>
              <th>
                   Dernier Contact
              </th>
              <th>
                   <div>Prix H.T</div>
                   <div>Nbre J.E.H.</div>
              </th>
            </tr>
 	 </thead>
 	 <tbody>
        

        {% for etude in etudesEnCours if not confidentielRefus(etude, app.security)%}
<tr>
    <td><div>{{ etude.nom }}</div><div>{{ etude.confidentiel ? '<span class="label label-danger">[CONFIDENTIEL]</span> ' }}<a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}">{{ getRefEtude(etude) }}</a></div></td>
    <td>
        {% if getDateLancement(etude) != NULL %}<div>{{ getDateLancement(etude)|date("d/m/Y") }}</div>{% endif %}
        <br/>
        {% if getDateFin(etude) != NULL %}<div>{% if etude.avs | length > 0 %}<s><b>{%endif%}{{ getDateFin(etude)|date("d/m/Y") }}{% if etude.avs | length > 0 %}</b></s><br />{{ getDateFin(etude, true)|date("d/m/Y") }}{%endif%}</div>{% endif %}
    </td>
    <td>
        {% include "mgateSuiviBundle:Etude:Buttons/Prospect.html.twig" with  {'prospect':  etude.prospect} %}
        <br /><br />
        {% include "mgateSuiviBundle:Etude:Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveur} %}
    </td>
    
        <td>
             {% for mission in etude.missions %}
                {% include "mgateSuiviBundle:Etude:Buttons/Intervenant.html.twig" with  {'idEtude':  etude.id, 'intervenant' : mission.intervenant, 'keyMission' : loop.index0 } %}
                    {% if loop.index != loop.last %}
                <br /><br />
                    {% endif %}



    {% endfor %}
            </td>
        <td>
        {% if getEtatDoc(etude.ap) == 1 %}
                <img src="{{ enCours }}" title="{{ etude.ap is not null ? etude.ap.dateSignature | date("d/m/y")}}" />
        {% elseif getEtatDoc(etude.ap) == 2 %}
                <img src="{{ valide }}" title="{{ etude.ap is not null ? etude.ap.dateSignature | date("d/m/y")}}" />
        {% else %}
                <img src="{{ nonValide }}" title="{{ etude.ap is not null ? etude.ap.dateSignature | date("d/m/y")}}" />
        {% endif %}
            </td>
       
            <td>
        {% if getEtatDoc(etude.cc) == 1 %}
                <img src="{{ enCours }}" title="{{ etude.cc is not null ? etude.cc.dateSignature | date("d/m/y")}}"/>
        {% elseif getEtatDoc(etude.cc) == 2 %}
                <img src="{{ valide }}" title="{{ etude.cc is not null ? etude.cc.dateSignature | date("d/m/y")}}"/>
        {% else %}
                <img src="{{ nonValide }}" title="{{ etude.cc is not null ? etude.cc.dateSignature | date("d/m/y")}}"/>
        {% endif %}
            </td>
            <td>
        {% if getEtatDoc(etude.fa) == 1 %}
                <img src="{{ enCours }}" title="{{ etude.fa is not null ? etude.fa.dateSignature | date("d/m/y")}}"/>
        {% elseif getEtatDoc(etude.fa) == 2 %}
                <img src="{{ valide }}" title="{{ etude.fa is not null ? etude.fa.dateSignature | date("d/m/y")}}"/>
        {% else %}
                <img src="{{ nonValide }}" title="{{ etude.fa is not null ? etude.fa.dateSignature | date("d/m/y")}}"/>
        {% endif %}
            </td>
            <td>
        {% for mission in etude.missions %}
            {% if getEtatDoc(mission) == 1 %}
                <img title="{{mission.intervenant.personne.prenomNom | default("")}}" src="{{ enCours }}" />
            {% elseif getEtatDoc(mission) == 2 %}
                <img title="{{mission.intervenant.personne.prenomNom | default("")}}" src="{{ valide }}" />
            {% else %}
                <img title="{{mission.intervenant.personne.prenomNom | default("")}}" src="{{ nonValide }}" />
        {% endif %}
                            <br><br>
        {% endfor %}
            </td>
            <td>
                <div class="progress">
                 <div class="bar" style="width: {{ 0 ~ '%;'|default('0%;') }}"></div>
                </div>
            </td>
            <td>
        {% if getEtatDoc(etude.pvr) == 1 %}
                <img src="{{ enCours }}" title="{{ etude.pvr is not null ? etude.pvr.dateSignature | date("d/m/y")}}"/>
        {% elseif getEtatDoc(etude.pvr) == 2 %}
                <img src="{{ valide }}" title="{{ etude.pvr is not null ? etude.pvr.dateSignature | date("d/m/y")}}"/>
        {% else %}
                <img src="{{ nonValide }}" title="{{ etude.pvr is not null ? etude.pvr.dateSignature | date("d/m/y")}}" />
        {% endif %}
            </td>
            <td>
        {% if getEtatDoc(etude.fs) == 1 %}
                <img src="{{ enCours }}" title="{{ etude.fs is not null ? etude.fs.dateSignature | date("d/m/y")}}"/>
        {% elseif getEtatDoc(etude.fs) == 2 %}
                <img src="{{ valide }}" title="{{ etude.fs is not null ? etude.fs.dateSignature | date("d/m/y")}}"/>
        {% else %}
                <img src="{{ nonValide }}" title="{{ etude.fs is not null ? etude.fs.dateSignature | date("d/m/y")}}"/>
        {% endif %}
            </td>
            <td>

            </td>
            <td>
            </td>
            <td>
            {% set dernierContact = 0 %}
            {% set contactId = 0 %}
            {% for contact in etude.clientContacts if (dernierContact |date("U") <= contact.date |date("U")) %}
                {% set dernierContact = contact.date  %}
                {% set contactId = contact.id %}
            {% endfor %}
            {% set dCU = dernierContact | date("U") %}
            {% if contactId != 0 %}
                <a href="{{ path('mgateSuivi_clientcontact_voir', {'id' : contactId }) }}">
            {% endif%}
                <span class="label label-{{ (dernierContact | date("dmy")) == ("now" | date("dmy")) ? "info" : (dCU > "now"|date("U") ? "important" : ( dCU > "now" |date_modify("-7 day")|date("U") ? "success" : (dCU > "now" |date_modify("-15 day")|date("U") ? "warning" : "important"))) }}">
                    {{ dernierContact | date("U") == 0 ? "Jamais" : dernierContact | date("d/m/Y") }}
                </span>
            {% if contactId != 0 %}
                </a>
            {% endif %}
            </td>
            <td>
                <div>{{ etude.confidentiel ? '*' : getTotalHT(etude)|default('') }} €</div>
                <div>{{ etude.confidentiel ? '*' :getNbrJEH(etude)|default('') }} JEH</div>
            </td>
        </tr>
        {% endfor %}
 	 </tbody>
  </table>

