{% set valide    = asset('img/succes.png') %}
{% set nonValide = asset('img/cross.png') %}
{% set enCours   = asset('img/progress.png') %}

<table class="table table-striped" id="myTable">
      <thead>
          <tr>
              <th>
                  <div>Nom de l'étude</div>
                  <div>Référence</div>
              </th>
              <th>
                  <div>Date de Lancement</div>
                  <div>Date de Fin</div>
              </th>
              <th>
                  <div>Client</div>
                  <div>Suiveur</div>
              </th>

              <th>
                   Developpeurs
              </th>
              <th>
                   AP
              </th>
              <th>
                   CC
              </th>
              <th>
                   FA
              </th>
              <th>
                   RM
              </th>
              <th>
                   Avancement
              </th>
              <th>
                   PVR
              </th>
              <th>
                   FS
              </th>
              <th>
                   RP
              </th>
              <th>
                   Payé
              </th>
              <th>
                   BV
              </th>
              <th>
                   Audit (int)
              </th>
              <th>
                   <div>Prix H.T</div>
                   <div>Nbre J.E.H.</div>
              </th>
            </tr>
 	 </thead>
 	 <tbody>
        

        {% for etude in etudesEnCours %}
<tr>
    <td><div>{{ etude.nom }}</div><div> <a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}"> {{ getRefEtude(etude) }}</a></div></td>
    <td>
        {% if getDateLancement(etude) != NULL %}<div>{{ getDateLancement(etude)|date("d/m/Y") }}</div>{% endif %}
        <br/>
        {% if getDateFin(etude) != NULL %}<div>{{ getDateFin(etude)|date("d/m/Y") }}</div>{% endif %}
    </td>
    <td>
        {% include "mgateSuiviBundle:Etude:Buttons/Prospect.html.twig" with  {'prospect':  etude.prospect} %}
        <br /><br />
        {% include "mgateSuiviBundle:Etude:Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveur} %}
    </td>
    
        <td>
             {% for mission in etude.missions %}
                {% include "mgateSuiviBundle:Etude:Buttons/Intervenant.html.twig" with  {'idEtude':  etude.id, 'intervenant' : mission.intervenant, 'keyMission' : loop.index0 } %}
                    {% if loop.index != loop.last %}
                <br /><br />
                    {% endif %}



    {% endfor %}
            </td>
        <td>
        {% if getEtatDoc(etude.ap) == 1 %}
                <img src="{{ enCours }}" />
        {% elseif getEtatDoc(etude.ap) == 2 %}
                <img src="{{ valide }}" />
        {% else %}
                <img src="{{ nonValide }}" />
        {% endif %}
            </td>
       
            <td>
        {% if getEtatDoc(etude.cc) == 1 %}
                <img src="{{ enCours }}" />
        {% elseif getEtatDoc(etude.cc) == 2 %}
                <img src="{{ valide }}" />
        {% else %}
                <img src="{{ nonValide }}" />
        {% endif %}
            </td>
            <td>
        {% if getEtatDoc(etude.fa) == 1 %}
                <img src="{{ enCours }}" />
        {% elseif getEtatDoc(etude.fa) == 2 %}
                <img src="{{ valide }}" />
        {% else %}
                <img src="{{ nonValide }}" />
        {% endif %}
            </td>
            <td>
        {% for mission in etude.missions %}
            {% if getEtatDoc(mission) == 1 %}
                <img title="{{mission.intervenant.personne.prenomNom | default("")}}" src="{{ enCours }}" />
            {% elseif getEtatDoc(mission) == 2 %}
                <img title="{{mission.intervenant.personne.prenomNom | default("")}}" src="{{ valide }}" />
            {% else %}
                <img title="{{mission.intervenant.personne.prenomNom | default("")}}" src="{{ nonValide }}" />
        {% endif %}
                            <br><br>
        {% endfor %}
            </td>
            <td>
                <div class="progress">
                 <div class="bar" style="width: {{ 0 ~ '%;'|default('0%;') }}"></div>
                </div>
            </td>
            <td>
        {% if getEtatDoc(etude.pvr) == 1 %}
                <img src="{{ enCours }}" />
        {% elseif getEtatDoc(etude.pvr) == 2 %}
                <img src="{{ valide }}" />
        {% else %}
                <img src="{{ nonValide }}" />
        {% endif %}
            </td>
            <td>
        {% if getEtatDoc(etude.fs) == 1 %}
                <img src="{{ enCours }}" />
        {% elseif getEtatDoc(etude.fs) == 2 %}
                <img src="{{ valide }}" />
        {% else %}
                <img src="{{ nonValide }}" />
        {% endif %}
            </td>
            <td>

            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                <div>{{ getTotalHT(etude)|default('') }} €</div>
                <div>{{ getNbrJEH(etude)|default('') }} JEH</div>
            </td>
        </tr>
        {% endfor %}
 	 </tbody>
  </table>

