{% set valide    = asset('img/succes.png') %}
{% set nonValide = asset('img/cross.png') %}
{% set enCours   = asset('img/progress.png') %}

<table class="table table-striped" id="myTable">
      <thead>
          <tr>
              <th>
                  <div>Nom de l'étude</div>
                  <div>Référence</div>
              </th>
              <th>
                  <div>Date de Lancement</div>
                  <div>Date de Fin</div>
              </th>
              <th>
                  <div>Client</div>
                  <div>Suiveur</div>
              </th>

              <th>
                   Etat
              </th>
              <th>
                   A recontacter le
              </th>              
              <th>
                   <div>Prix H.T</div>
                   <div>Nbre J.E.H.</div>
              </th>
            </tr>
 	 </thead>
 	 <tbody>
        {% for etude in etudesEnPause %}
<tr>
    <td><div>{{ etude.nom }}</div><div> <a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}"> {{ getRefEtude(etude) }}</a></div></td>
    <td>
        {% if getDateLancement(etude) != NULL %}<div>{{ getDateLancement(etude)|date("d/m/Y") }}</div>{% endif %}
        <br/>
        {% if getDateFin(etude) != NULL %}<div>{{ getDateFin(etude)|date("d/m/Y") }}</div>{% endif %}
    </td>
    <td>
        {% include "mgateSuiviBundle:Etude:Buttons/Prospect.html.twig" with  {'prospect':  etude.prospect} %}
        <br /><br />
        {% include "mgateSuiviBundle:Etude:Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveur} %}
    </td>
    
        <td>
          {{ etude.stateDescription }} 
            </td>
            <td>
            </td>
            <td>
                <div>{{ getTotalHT(etude)|default('') }} €</div>
                <div>{{ getNbrJEH(etude)|default('') }} JEH</div>
            </td>
        </tr>
        {% endfor %}
 	 </tbody>
  </table>

