{% extends "mgateUserBundle::layout.html.twig" %}

{% block title %}
	Lister les utilisateurs - {{ parent() }}
{% endblock %}

{% block content %}

    <h2>Liste des utilisateurs</h2>

    <ul>

<table width="100%" border="0">
  <tr>
    <td>Id</td>
    <td>Nom d'utilisateur</td>
    <td>Adresse email du compte</td>
    <td>Droit</td>
    <td>Action</td>
  </tr>
        {% for user in users %}
    <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.rolesDisplay }}</td>
    <td><a href="{{ path('mgate_user_modifier', {'id': user.id}) }}">modifier</a></td>
  </tr>
        {% else %}
            <li>Pas (encore !) d'utilisateur</li>
        {% endfor %}
</table>
    </ul>

{% endblock %}
