        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgateUserBundle::layout.html.twig" %}

{% block title %}
	Modifier un utilisateur - {{ parent() }}
{% endblock %}

{% block content %}

    <h2>Modifier l'utilisateur</h2>

    <form method="post" {{ form_enctype(form) }} style="max-width: 600px">
    <table class="table table-bordered">
        <tr>
            <td>{{ form_label(form.username) }}</td>
            <td>{{ form_widget(form.username) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.email) }}</td>
            <td>{{ form_widget(form.email) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.enabled) }}</td>
            <td>{{ form_widget(form.enabled) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.personne) }}</td>
            <td>{{ form_widget(form.personne) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.roles) }}</td>
            <td>{{ form_widget(form.roles) }}</td>
        </tr>
    </table>
    
	
	{{ form_widget(form) }}
	{{ form_rest(form) }}
	<input class ="btn btn-success" type="submit" value="Enregistrer l'Utilisateur"/>
</form>
<br>
    
<form action="{{ path('mgate_user_supprimer', { 'id': form.vars.value.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger bootbox-confirm" data-content="Êtes-vous sûr de vouloir supprimer définitivement cet utilisateur ?">Supprimer l'utilisateur</button>
</form>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}     
{% endblock %}