        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

<ul class="nav navbar-nav navbar-right">   
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
        	<li class="dropdown-header">Manuel d'utilisation</li>
       	    <li class="divider"></li>
       	    <li><a href="{{ asset('documents/guide.pdf') }}"><span class="glyphicon glyphicon-tags"></span> Guide utilisateur</a></li>
            <li class="dropdown-header">{{ app.user.username }}</li>
            <li><a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-pencil"></span> Modifier mon pseudo</a></li>
            <li><a href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-pencil"></span> Modifier mon mot de passe</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-remove-sign"></span> Déconnexion</a></li>
        </ul>
    </li>
	<li><div style="min-height: 32px; min-width: 32px;"><div class="loading"><img src="{{ asset('img/ajax-loader.gif') }}" /></div></div></li>
</ul>
