        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-signin" role="form" style="text-align: center;">
    <img src="{{ junior['logo'] }}" width="300"/>
    <h2 class="form-signin-heading">Inscription</h2>
    

    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder' : 'Login' } } ) }}
    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder' : 'Email' } } ) }}
    <br>
    {{ form_label(form.plainPassword.first ) }}
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} } ) }}
    {{ form_label(form.plainPassword.second ) }}
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} } ) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="">{{ 'registration.submit'|trans }}</button>

    {{ form_rest(form) }}
</form>
