{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Affichage d'un PVI - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>PVI n°{{ pvi.id }}</h2>
    
    <i>Version {{pvi.version}}</i>

    <div>

    </div>

    <p>
        <a href="{{ path('mgateSuivi_etude_homepage') }}">Retour à la liste des études</a>
        <a href="{{ path('mgateSuivi_pvi_modifier', {'id': pvi.id}) }}">Modifier le pvi</a>
	
    </p>

{% endblock %}
