<ul class="nav">
    <li class="dropdown">
      <a href="{{ path('mgateSuivi_etude_homepage') }}" class="dropdown-toggle disabled" data-toggle="dropdown" data-hover="dropdown">Suivi d'Étude<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{{ path('mgateSuivi_etude_ajouter') }}">Ajouter</a></li>
        <li class="nav-header">Mes Etudes:</li>
            {% for etude in etudesSuiveur %}
        <li><a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}"> {{ getRefEtude(etude) }}</a></li>
            {% endfor%}
        <li class="nav-header">Récapitulatif:</li>
        <li><a href="{{ path('mgateSuivi_etude_suivi') }}">Suivi d'études</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="{{ path('mgatePersonne_homepage') }}" class="dropdown-toggle disabled" data-toggle="dropdown" data-hover="dropdown">Gestion des personnes<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="nav-header">Prospect/Client:</li>
        <li><a href="{{ path('mgatePersonne_prospect_homepage') }}">Lister</a></li>
        <li><a href="{{ path('mgatePersonne_prospect_ajouter') }}">Ajouter</a></li>
        <li class="nav-header">Membre:</li>
        <li><a href="{{ path('mgatePersonne_membre_homepage') }}">Lister</a></li>
        <li><a href="{{ path('mgatePersonne_membre_ajouter') }}">Ajouter</a></li>
        <li class="nav-header">Poste:</li>
        <li><a href="{{ path('mgatePersonne_poste_homepage') }}">Lister</a></li>
        <li><a href="{{ path('mgatePersonne_poste_ajouter') }}">Ajouter</a></li>
        <li class="nav-header">Compte d'Utilisateur:</li>
        <li><a href="{{ path('mgate_user_lister') }}">Lister / Modifier</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="{{ path('mgatePersonne_homepage') }}" class="dropdown-toggle disabled" data-toggle="dropdown" data-hover="dropdown">Indicateurs<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{{ path('mgate_stat_ca') }}">CA signé</a></li>
      </ul>
    </li>
    <li><a href="{{ path('mgate_publi_documenttype_index') }}">Gestion des Doctypes</a></li>
</ul>