<ul class="nav navbar-nav pull-left">

<!-- GESTION ASSOCIATIVE -->
    {% if is_granted('ROLE_SUIVEUR') %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion Associative <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Membres</li>
            <li><a href="{{ path('mgatePersonne_membre_homepage') }}"><span class="glyphicon glyphicon-list"></span> Lister les membres</a></li>
            <li><a href="{{ path('mgatePersonne_intervenants_homepage') }}"><span class="glyphicon glyphicon-usd"></span> Lister les intervenants</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('mgatePersonne_membre_ajouter') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter un membre</a></li>
        </ul>
    </li>
    {% endif %}
                  

    
    <!-- RECRUTEMENT FORMATIONS PASSATION -->
    {% if is_granted('ROLE_SUIVEUR') %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formations <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Formations</li>
            <li><a href="{{ path('mgate_formations_lister') }}"><span class="glyphicon glyphicon-briefcase"></span> Voir les formations</a></li>
            {% if is_granted('ROLE_CA') %}
            <li class="divider"></li>
            <li class="dropdown-header">Administration</li>
            <li><a href="{{ path('mgate_formations_index_admin') }}"><span class="glyphicon glyphicon-list"></span> Gérer les formations</a></li>
            <li><a href="{{ path('mgate_formation_ajouter') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter une formation</a></li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    
    
    {% if is_granted('ROLE_SUIVEUR') %}
    <!-- SUIVI D'ETUDES-->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Suivi d'Étude <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('mgateSuivi_etude_homepage') }}"><span class="glyphicon glyphicon-list"></span> Voir les études</a></li>
            <li><a href="{{ path('mgateSuivi_etude_ajouter') }}"><span class="glyphicon glyphicon-plus"></span> Créer une étude</a></li>
        {% if etudesSuiveur | length %}
			<li class="divider"></li>
            <li class="dropdown-header">Mes Etudes:</li>
            {% for etude in etudesSuiveur %}
            <li><a href="{{ path('mgateSuivi_etude_voir', {'numero': etude.numero}) }}"><span class="glyphicon glyphicon-thumbs-up"></span> {{ getRefEtude(etude) }}</a></li>
            {% endfor%}
        {% endif %}
            <li class="divider"></li>
            <li class="dropdown-header">Qualité</li>
            <li><a href="{{ path('mgateSuivi_etude_suiviQualite') }}"><span class="glyphicon glyphicon-warning-sign"></span> Suivi des problèmes</a></li>
            {% if is_granted('ROLE_CA') %}
            <li class="divider"></li>
            <li class="dropdown-header">Administration</li>
            <li><a href="{{ path('mgateSuivi_clientcontact_index') }}"><span class="glyphicon glyphicon-envelope"></span> Contacts Client</a></li>
            <li><a href="{{ path('mgateSuivi_vu_ca') }}"><span class="glyphicon glyphicon-eye-open"></span> Vu CA</a></li>
            <li><a href="{{ path('mgateSuivi_etude_suivi') }}"><span class="glyphicon glyphicon-calendar"></span> Récapitulatif</a></li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    
    <!-- TRESORERIE-->
    {% if is_granted('ROLE_CA') %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trésorerie<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Outils</li>
            <li><a href="{{ path('mgate_treso_urssaf') }}"><span class="glyphicon glyphicon-info-sign"></span> URSSAF</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Factures</li>
            <li><a href="{{ path('mgateTreso_Facture_index') }}"><span class="glyphicon glyphicon-list"></span> Lister les Factures</a></li>
            <li><a href="{{ path('mgateTreso_Facture_ajouter') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter une Factures</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Bulletins de Versement</li>
            <li><a href="{{ path('mgateTreso_BV_index') }}"><span class="glyphicon glyphicon-list"></span> Lister les BVs</a></li>
            <li><a href="{{ path('mgateTreso_BV_ajouter') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter un BV</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Notes de Frais</li>
            <li><a href="{{ path('mgateTreso_NoteDeFrais_index') }}"><span class="glyphicon glyphicon-list"></span> Lister les Notes de Frais</a></li>
            <li><a href="{{ path('mgateTreso_NoteDeFrais_ajouter') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter une Note de Frais</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Comptes Comptable</li>
            <li><a href="{{ path('mgateTreso_Compte_index') }}"><span class="glyphicon glyphicon-list"></span> Lister les Comptes</a></li>
            <li><a href="{{ path('mgateTreso_Compte_ajouter') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter un Compte</a></li>
        </ul>
    </li>
    {% endif %}
    
    <!-- DEVELOPPEMENT COMMERCIAL -->
    {% if is_granted('ROLE_SUIVEUR') %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prospection <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Prospect/Client</li>
            <li><a href="{{ path('mgatePersonne_prospect_homepage') }}"><span class="glyphicon glyphicon-list"></span> Voir les prospects</a></li>
            <li><a href="{{ path('mgatePersonne_prospect_ajouter') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter un prospect</a></li>
        {% if is_granted('ROLE_CA') %}
            <li class="divider"></li>
            <li class="dropdown-header">Annuaire</li>
            <li><a href="{{ path('mgatePersonne_annuaire') }}"><span class="glyphicon glyphicon-book"></span> Annuaire global</a></li>
            <li><a href="{{ path('mgatePersonne_listeDiffusion') }}"><span class="glyphicon glyphicon-envelope"></span> Liste de diffusion</a></li>
        {% endif %}
        </ul>
    </li>
    {% endif %}
    
    <!-- PILOTAGE DE LA J.E. -->
    {% if is_granted('ROLE_CA') %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pilotage de la J.E.<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('mgate_indicateurs_index') }}"><span class="glyphicon glyphicon-globe"></span> Indicateur</a></li>
        </ul>
    </li>
    {% endif %}
    
    <!-- ADMINISTRATION DU SITE -->
    {% if is_granted('ROLE_ADMIN') %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('mgate_publi_documenttype_index') }}"><span class="glyphicon glyphicon-wrench"></span> Gestion des Doctypes</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Postes</li>
            <li><a href="{{ path('mgatePersonne_poste_homepage') }}"><span class="glyphicon glyphicon-list"></span> Lister les postes</a></li>
            <li><a href="{{ path('mgatePersonne_poste_ajouter') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter un poste</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Compte d'Utilisateur:</li>
            <li><a href="{{ path('mgate_user_lister') }}"><span class="glyphicon glyphicon-pencil"></span> Lister / Modifier</a></li>
        </ul>
    </li>
    {% endif %}
</ul>