        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgateTresoBundle::layout.html.twig" %}

{% block title %}
	Gestion des Cotisation URSSAF - {{ parent() }}
{% endblock %}

{% block javascript_quick %}
{{ parent() }}
<script src="{{ asset('js/jquery.dataTables.min.js')}}"></script>
  
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#example').dataTable({
            "bPaginate": true,
            "iDisplayLength": 50,
			"aaSorting": [[1,'desc']],
        });
    });
</script>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatable.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatable_page.css') }}">
{% endblock %}

    
{% block content_bundle %}
    <button type="button" class="btn btn-success" onclick="location.href='{{ path('mgateTreso_CotisationURSSAF_ajouter')}}';">Ajouter une cotisation URSSAF</button>
    <table class="display dataTable table table-bordered table-striped" id="example">
        <thead>
          <tr>
            <th>Action</th>
            <th>Applicable du</th>
            <th>Applicable au</th>
            <th>Libelle</th>            
            <th>Taux Part Junior</th>
            <th>Taux Part Etudiant</th>
            <th>Applicable sur la base</th>
            <th>Est déductible ?</th>
        </tr>
        </thead>        
        {% for cotisation in cotisations %}
        <tr style="text-align: right;" class="{{ cotisation.dateFin < date() ? 'danger' : 'success' }}">
            <td><a href="{{ path('mgateTreso_CotisationURSSAF_modifier', {'id' : cotisation.id })}}" title="Modifier"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td>{{ cotisation.dateDebut | date('d/m/Y')}}</td>
            <td>{{ cotisation.dateFin | date('d/m/Y') }}</td>
            <td>{{ cotisation.libelle }}</td>
            <td>{{ (cotisation.tauxPartJE * 100) | money(false)}}</td>
            <td>{{ (cotisation.tauxPartEtu * 100) | money(false)}}</td>
            <td><span class="label label-{{ cotisation.isSurBaseURSSAF ? 'success' : 'warning'}}">Base {{ cotisation.isSurBaseURSSAF ? "URSSAF" : "Brut" }}</span></td>
            <td><span class="label label-{{ cotisation.deductible ? 'success' : 'danger'}}">{{ cotisation.deductible ? "" : "Non" }} déductible</span></td>   
        </tr>
        {% endfor %}
    </table>

{% endblock %}
