{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block content_bundle %}

{% include "::Tools/select2.html.twig" %}
{% include "::Tools/datepicker.html.twig" %}  

    

<h2>Modifier les {{ form.missions | length  }} intervenants</h2>
<form method="POST" {{ form_enctype(form) }}>
    {# affiche l'unique champ de la tache : description #}
    {#{ form_row(form.description) }#}
        
<p><br /><input type="submit" value="Ajouter une mission" name="add"/> - <input type="submit" value="Enregistrer les missions" /></p>

    <u1 class="missions" id="missions" data-prototype="{{ form_widget(form.missions.vars.prototype) | e }}">
        {# itere sur chaque tag existant et affiche son unique champ : name #}
        {% for mission in form.missions %}
            <li>
                <h4 class="titreMission"></h4>{{ form_widget(mission) }}
            </li><br />
        {% endfor %}
    </u1>
    <br />
    {{ form_rest(form) }}



<p><br /><input type="submit" value="Ajouter une mission" name="add"/> - <input type="submit" value="Enregistrer les missions" /></p>

</form>

<a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}">Retour à l'étude</a>


<div id="dialog" title="Résumé et vérification">
    <p>Nombre de JEH:<span class="nbrJEH">//</span></p>
    <p>Prix sans les frais:<span class="prix">//</span>€ HT</p>
    <p><button id="myButtonUpdate">Raffraichir</button></p>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
   <script src="{{ asset('js/bootstrap.js')}}"></script>
   <script src="{{ asset('js/bootboxjs.js')}}"></script>
<script type="text/javascript">
    
    // Fenetre resumant
    $.ui.dialog.prototype._oldinit = $.ui.dialog.prototype._init;
    $.ui.dialog.prototype._init = function() {
        $(this.element).parent().css('position', 'fixed');
        $(this.element).dialog("option",{
            resizeStop: function(event,ui) {
                var position = [(Math.floor(ui.position.left) - $(window).scrollLeft()),
                                (Math.floor(ui.position.top) - $(window).scrollTop())];
                $(event.target).parent().css('position', 'fixed');
                $(event.target).parent().dialog('option','position',position);
                return true;
            }
        });
        this._oldinit();
    };
    $(function() {
        $( "#dialog" ).dialog({
            position: { 
                  my: 'right center',
                  at: 'right center'
            },
            height:  $(window).height() * 0.7,
            width:  $(window).width() * 0.25
        });
    });
    
    // Recupere le div qui contient la collection de tags
    var collectionHolder = $('.missions');
    
    function updateOrder() {
        $('input.position').each(function(i) {
            $(this).val( i );
        });
        $('.titreMission').each(function(i) {
            $(this).text( 'Mission n°'+(i+1) );
        });
    }
    
    function updatePrix() {
        var prix = 0;
        var mission = 0;
        
        $('input.nbrJEH').each(function(i1) {
            mission=parseInt($(this).val());
            
            $('input.prixJEH').each(function(i2) {
                if(i1==i2)
                mission*=parseInt($(this).val());           
            });
            if(!isNaN(mission))
                prix+=mission;
        });

       $('.prix').text( prix );
    }
    
    function updateNbrJEH() {
        var nbrJEH = 0;
        
        $('input.nbrJEH').each(function(i) {
            if(!isNaN(parseInt($(this).val())))
                nbrJEH+=parseInt($(this).val());
        });

       $('.nbrJEH').text( nbrJEH );
    }
    
    var isDirty = false;

    jQuery(document).ready(function() {
        
        updatePrix();
        updateNbrJEH();     
        
        //Verification avant de quitter
        $(':input').change(function(){
            if(!isDirty){
               isDirty = true;
            }
        });
        $(window).bind('beforeunload', function(){
            if(isDirty)
                return "Voulez-vous quitter sans enregistrer ?";
        });
        $('form').submit(function() {
            isDirty = false;
            return true;
        });
        
        //Rajout des boutons (X, up, down) pour les missions
        collectionHolder.find('li').each(function() {
            addMissionBouton($(this));
        });      
        
        $('input.nbrJEH').each(function() {
            $(this).change(function() { 
                updatePrix();
                updateNbrJEH();
            });
        });
        
        $('input.prixJEH').each(function() {
            $(this).change(function() { 
                updatePrix();
            });
        });
        
       $('#myButtonUpdate').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            
            updatePrix();
            updateNbrJEH();
        });

    });
    
    function addMissionBouton($tagFormLi) {
        var $delete = $('<button id="myButtonDelete">X</button>');
        $tagFormLi.append($delete);

        $delete.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            
            //CONFIRM confirmation suppression
            var message = "Êtes vous sûr de vouloir supprimer cet intervenant ?";
            bootbox.confirm(message, function(result) {
                if (result) {
                    // remove the li for the tag form
                    $tagFormLi.remove();
                    updatePrix();
                    updateNbrJEH();
                }
            });
        });
        
    }
    
</script>

<script>
     /* ...known personne... */
 var toggle = new Array();
 var known = new Array();
 var knowned = new Array();
 var newed = new Array();
 
 {% for mission in form.missions %}
 
    toggle[{{ loop.index0 }}] = true;
    known[{{ loop.index0 }}] = $('input#{{ mission.knownIntervenant.get('id') }}');
    knowned[{{ loop.index0 }}] = $('#{{ mission.intervenant.get('id') }}').closest('div');
    newed[{{ loop.index0 }}] = $('#{{ mission.newIntervenant.get('id') }}').closest('div').parent('div').closest('div');
    
    known[{{ loop.index0 }}].prop('checked', true);

    known[{{ loop.index0 }}].change(function() {

        if ($(this).is(':checked')) {
            knowned[{{ loop.index0 }}].find('input').attr('disabled', false);
            if (toggle) knowned[{{ loop.index0 }}].show();

            newed[{{ loop.index0 }}].find('input').attr('disabled', true);
            if (toggle) newed[{{ loop.index0 }}].hide();
        } else {
            newed[{{ loop.index0 }}].find('input').attr('disabled', false);
            if (toggle) newed[{{ loop.index0 }}].show();

            knowned[{{ loop.index0 }}].find('input').attr('disabled', true);
            if (toggle) knowned[{{ loop.index0 }}].hide();
        }

    }).change();
{% endfor %}

</script> 


{% endblock %}