{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier un Avant-Projet - {{ parent() }}
{% endblock %}
        
{% block content_bundle %}
        
{% include "::Tools/jquery.html.twig" %}  
{% include "::Tools/jqueryui.html.twig" %}  
{% include "::Tools/select2.html.twig" %}
{% include "::Tools/datepicker.html.twig" %}   
        
    <h2>Rédiger le Récapitulatif de Mission de {{mission.intervenant.personne.prenomNom}} </h2>

    {% include "mgateSuiviBundle:Mission:formulaire.html.twig" %} 


    <p>
        <a href="{{ path('mgateSuivi_etude_voir', {'id': mission.etude.id}) }}" >Retour à l'étude</a>
    </p>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}
    
