{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Affichage d'un Récapitulatif de Mission- {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>Récapitulatif de Mission n°{{ mission.id }}</h2>
    
    <i>Version {{mission.version}}</i>

    <div>

    </div>

    <p>
        <a href="{{ path('mgateSuivi_etude_homepage') }}">Retour à la liste des études</a>
        <a href="{{ path('mgateSuivi_mission_modifier', {'id': mission.id}) }}">Modifier le Récapitulatif de Mission</a>
	
    </p>

{% endblock %}
