{# empty Twig template #}
{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Affichage d'un Avant-Projet - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    
    
    <i>Version {{ version }}</i>

    <div>
       
    </div>

    <p>
        Suiveur: {{suiveur.nom}} {{suiveur.prenom}} <br>
        Téléphone: {{suiveur.mobile}} <br>
        Mail: {{suiveur.email}}
    </p>
    <p>
    Prospect: {{prospect.nom}} <br>
    Entité sociale: {{prospect.entite}} <br>
    Adresse: {{prospect.adresse}} <br>
    <li>Nom signataire: {{ signataire2.prenomNom }} {{ signataire2.prenomNom }}<br>
        Fonction signataire: {{ signataire2.poste }}
    </li> 

    
    </p>
    <p>
    Version :{{ version }}
 
    <p>
     Date de signature: {{ dateSignature|date("d/m/Y") }}
    </p>
    <p>
     Frais de dossier: {{ fraisDossier }} 
    </p>
    <p>
    Présentation du projet: {{ presentationProjet }} 
    </p>
    <p>
    Description de la prestation: {{ descriptionPrestation }}
    </p>
    <p>
    Type de prestation: {{ typePrestation }} 
    </p>
    <p>
    Compétences développeurs: {{ competences }}
    </p>
    <p>
    {% for phase in phases %}
        <li>Phase n°{{phase.position+1}}: {{phase.titre}}</li>
        <li>Objectif: {{phase.objectif}}</li>
        <li>Méthodologie: {{phase.methodo}}</li>
        <li>Date de début: {{phase.dateDebut|date("d/m/Y")}}</li>
        <li>Délai: {{phase.delai}}</li>
        <li>Nombre de JEH: {{phase.nbrJEH}}</li>
        <li>Prix du JEH: {{phase.prixJEH}}</li>
    {% endfor %} 
    
    {% if generer == 1 %}
        <form action="{{ path('mgate_publi_publiposter', {'id_etude':etude.id, 'doc':'AP'}) }}" method="post" >
            <input type="submit" value="Générer AP"/>
        </form>              
    {% else %}
        <li>Il manque 
        {% for manquant in manquants %}    
             "{{manquant}}", 
        {% endfor %}        
        </li>
    {% endif %}
    </p>

{% endblock %}
