{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Rédiger l'Avant-Projet - {{ parent() }}
{% endblock %}

        
{% block content_bundle %}

{% include "::Tools/select2.html.twig" %}
{% include "::Tools/datepicker.html.twig" %}

        
    <h2>Rédiger l'Avant-Projet</h2>
 <a href="{{ path('mgatePersonne_employe_ajouter', {'prospect_id':etude.prospect.id, 'format':'mini'}) }}?KeepThis=true&TB_iframe=true&height=400&width=600" title="Ajouter un signataire" class="thickbox">Ajouter un signataire</a>
    
 
<form method="post" {{ form_enctype(form) }}>
    {% form_theme form 'mgateSuiviBundle:Form:fields.html.twig' %}
    {{ form_widget(form) }}

    <input type="submit" value="Enregistrer l'AP"/>
    <input type="submit" value="Enregistrer l'AP et passer aux Phases" name="phases"/>
</form>



    <p>
        <a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}" >Retour à l'Etude</a>
    </p>   
    
{% endblock %}

 {% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { known: form.ap.knownSignataire2, knowned: form.ap.signataire2, newed: form.ap.newSignataire2 }%} 
{% endblock %}
    