{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Rédiger l'Avant-Projet - {{ parent() }}
{% endblock %}

        
{% block content_bundle %}

{% include "::Tools/jquery.html.twig" %}  
{% include "::Tools/jqueryui.html.twig" %}  
{% include "::Tools/select2.html.twig" %}
{% include "::Tools/datepicker.html.twig" %}

        
    <h2>Rédiger l'Avant-Projet</h2>
 <a href="{{ path('mgatePersonne_employe_ajouter', {'prospect_id':etude.prospect.id, 'format':'mini'}) }}?KeepThis=true&TB_iframe=true&height=400&width=600" title="Ajouter un signataire" class="thickbox">Ajouter un signataire</a>
    
 
<form method="post" {{ form_enctype(form) }}>

	{{ form_widget(form) }}
	
	<input type="submit" value="Enregistrer l'AP"/>
        <input type="submit" value="Enregistrer l'AP et passer à la CC" name="next"/>
</form>



    <p>
        <a href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}" >Retour à l'Etude</a>
    </p>   
    
{% endblock %}

 {% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { doc: form.ap }%} 
{% endblock %}
    