{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Affichage d'un Avant-Projet - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>Avant-Projet n°{{ ap.id }}</h2>
    
    <i>Version {{ap.version}}</i>

    <div>

    </div>

    <p>
        <a href="{{ path('mgateSuivi_etude_homepage') }}">Retour à la liste des études</a>
        <a href="{{ path('mgateSuivi_ap_modifier', {'id': ap.id}) }}">Modifier l'Avant-Projet</a>
	
    </p>

{% endblock %}
