        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgateTresoBundle::layout.html.twig" %}

{% block title %}
	Gestion des BV - {{ parent() }}
{% endblock %}

{% block javascript_quick %}
{{ parent() }}
<script src="{{ asset('js/jquery.dataTables.min.js')}}"></script>
  
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#example').dataTable({
            "bPaginate": true,
            "iDisplayLength": 50,
			"aaSorting": [[0,'desc']],
        });
    });
</script>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatable.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatable_page.css') }}">
{% endblock %}

    
{% block content_bundle %}
    <button type="button" class="btn btn-success" onclick="location.href='{{ path('mgateTreso_BV_ajouter')}}';">Ajouter un BV</button>
    <table class="display dataTable table table-bordered table-striped" id="example">
        <thead>
          <tr>
            <th>Référence</th>
            <th>Date de Versement</th>
            <th>Bénéficiaire</th>
            <th>Mission</th>
            <th>Rémunération Brute</th>
            <th>Part Junior</th>
            <th>Part Etudiant</th>
        </tr>
        </thead>        
        {% for bv in bvs %}
        <tr>
            <td><a href="{{ path('mgateTreso_BV_voir', {'id' : bv.id })}}">{{ bv.reference }}</a></td>
            <td>{{ bv.dateDeVersement | date('d/m/Y') }}</td>
            <td>{{ bv.mission.intervenant.personne.prenomNom}}</td>
            <td>{{ bv.mission.reference }}</td>
            <td style="text-align: right;">{{ (bv.nombreJEH * bv.remunerationBruteParJEH) | number_format(2, ',', ' ')}} €</td>
            <td style="text-align: right;">{{ bv.partJunior | number_format(2, ',', ' ')}} €</td>
            <td style="text-align: right;">{{ bv.partEtudiant | number_format(2, ',', ' ')}} €</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
