        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgateTresoBundle::layout.html.twig" %}

{% block title %}
	Gestion des BV - {{ parent() }}
{% endblock %}


    
{% block content_bundle %}
    <h3>{{ bv.numero ? "Ajout d'un" :  "Modification du" }} BV : {{ bv.mandat }}-BV-{{ bv.numero  }} </h3>
    <form method="post" {{ form_enctype(form) }}>
    <table class="table table-bordered table-striped standard">
        <tr>
            <th>{{ form_label(form.mandat) }}</th>
            <td>{{ form_widget(form.mandat) }}</td>
            <th>{{ form_label(form.numero) }}</th>
            <td>{{ form_widget(form.numero) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.nombreJEH) }}</th>
            <td>{{ form_widget(form.nombreJEH) }}</td>
            <th>{{ form_label(form.remunerationBruteParJEH) }}</th>
            <td>{{ form_widget(form.remunerationBruteParJEH) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.numeroVirement) }}</th>
            <td>{{ form_widget(form.numeroVirement) }}</td>
            <th>{{ form_label(form.dateDeVersement) }}</th>
            <td>{{ form_widget(form.dateDeVersement) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.mission) }}</th>
            <td>{{ form_widget(form.mission) }}</td>
            <th>{{ form_label(form.typeDeTravail) }}</th>
            <td>{{ form_widget(form.typeDeTravail) }}</td>
        </tr>
        <tr>
            <th colspan="4">Taux</th>
        </tr>
        <tr>
            <th>{{ form_label(form.dateDemission) }}</th>
            <td colspan="3">{{ form_widget(form.dateDemission) }}</td>
        </tr>        
    </table>
            <input type="submit" class="btn btn-success" value="Enregistrer" />
    {{ form_rest(form) }} 
    </form>
    {% if bv.numero %}
    <table class="table">
        <tr>
            <td style="text-align: right;"><button type="button" class="btn btn-danger" onclick="location.href='{{ path('mgateTreso_BV_supprimer', {'id': bv.id})}}';">Supprimer le BV</button></td>
        </tr>
    </table>
    {% endif %}
    
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}     
{% endblock %}