{% extends "mgateTresoBundle::layout.html.twig" %}

{% block title %}
	Gestion des BV - {{ parent() }}
{% endblock %}


    
{% block content_bundle %}
    <h3>{{ bv.numero ? "Ajout d'un" :  "Modification du" }} BV : {{ bv.mandat }}-BV-{{ bv.numero  }} </h3>
    <form method="post" {{ form_enctype(form) }}>
    <table class="table table-bordered table-striped standard">
        <tr>
            <th>{{ form_label(form.mandat) }}</th>
            <td>{{ form_widget(form.mandat) }}</td>
            <th>{{ form_label(form.numero) }}</th>
            <td>{{ form_widget(form.numero) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.nombreJEH) }}</th>
            <td>{{ form_widget(form.nombreJEH) }}</td>
            <th>{{ form_label(form.remunerationBruteParJEH) }}</th>
            <td>{{ form_widget(form.remunerationBruteParJEH) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.numeroVirement) }}</th>
            <td>{{ form_widget(form.numeroVirement) }}</td>
            <th>{{ form_label(form.dateDeVersement) }}</th>
            <td>{{ form_widget(form.dateDeVersement) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.mission) }}</th>
            <td>{{ form_widget(form.mission) }}</td>
            <th>{{ form_label(form.typeDeTravail) }}</th>
            <td>{{ form_widget(form.typeDeTravail) }}</td>
        </tr>
        <tr>
            <th colspan="4">Taux</th>
        </tr>
        <tr>
            <th>{{ form_label(form.dateDemission) }}</th>
            <td colspan="3">{{ form_widget(form.dateDemission) }}</td>
        </tr>        
    </table>
            <input type="submit" class="btn btn-success" value="Enregistrer" />
    {{ form_rest(form) }} 
    </form>
    {% if bv.numero %}
    <table class="table">
        <tr>
            <td style="text-align: right;"><button type="button" class="btn btn-danger" onclick="location.href='{{ path('mgateTreso_BV_supprimer', {'id': bv.id})}}';">Supprimer le BV</button></td>
        </tr>
    </table>
    {% endif %}
    
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}     
{% endblock %}