        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{# layout d'accueil pour les Users  #}

{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block javascript_quick %}
{{ parent() }}
<script src="{{ asset('js/jquery.dataTables.min.js')}}"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
        $('#example').dataTable({
            "bPaginate": true,
            "iDisplayLength": 50,
            "aaSorting": [[0,'desc']],
        });
} );
</script>	
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatable.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatable_page.css') }}">
{% endblock %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block content_bundle %}

    <h2>Liste des Intervenants</h2>
    <span>
    Liste des membres ayant déjà réalisé une mission.
    </span>

    <table style="width: 100%;" aria-describedby="example_info" class="display dataTable table table-bordered table-striped" id="example" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Promotion</th>
            <th>Prénom</th>
			<th>Nom</th>
            <th>Identifiant</th>
            <th>Nationalité</th>
            <th>CE</th>
            <th>Etude</th>
          </tr>
        </thead>
        <tbody>
                {% for membre in membres %}
          <tr>
            <td>{{ membre.promotion ? "P" ~ membre.promotion }}</td>
            <td><a href="{{ path('mgatePersonne_membre_voir', {'id': membre.id}) }}">{{ membre.personne.prenom }}</a></td>
			<td><a href="{{ path('mgatePersonne_membre_voir', {'id': membre.id}) }}">{{ membre.personne.nom }}</a></td>
            <td>{{ membre.identifiant }}</td>
            <td>
                <span   class="label label-{{ membre.nationalite == 'FR' ?  'success' : (  membre.nationalite == 'DZ'  ? 'danger' : 'warning' ) }}"      title="{{ membre.nationalite == 'FR' ?  'Français' : (  membre.nationalite == 'DZ'  ? 'Ne peut être intervenant' : 'Une Déclaration à la préfecture est nécessaire' ) }}">
                    {{ membre.nationalite }}
                </span>
            </td>
            <td>REF : <span class="label label-{{ membre.dateConventionEleve ? "success" : "warning" }}">Convention élève {{ membre.dateConventionEleve ? membre.dateConventionEleve | date('d/m/Y') : "Non signée" }}</span></td>
            <td>
                    {% for mission in membre.missions %}
                    <span class="label label-{{ membre.dateConventionEleve ? ( membre.dateConventionEleve <= mission.debutOm |date_modify("-7 day") ? "success" : "warning" ) : "danger" }}">{{ mission.debutOm ? mission.debutOm  | date("d/m/Y") : "?" }} -> {{ mission.finOm ? mission.finOm | date("d/m/Y") : "?" }}</span>
                    | <a href="{{path("mgateSuivi_etude_voir", {'numero' : mission.etude.numero})}}">{{ mission.etude.reference}}-{{ mission.etude.nom }}</a><br/>
                    {% endfor %}          
            </td>
          </tr>
                {% else %}
                    <li>Pas (encore !) de Membre</li>
                {% endfor %}
        </tbody>
    </table>
    

{% endblock %}
