{# layout d'accueil pour les Users  #}

{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block javascript_quick %}
{{ parent() }}
    <script src="{{ asset('js/jquery.dataTables.min.js')}}"></script>
    
    <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                    $('#example').dataTable({
                        "bPaginate": false,
                    });
            } );
    </script>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatable.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatable_page.css') }}">
{% endblock %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block content_bundle %}

    <h2>Liste des Membres</h2>

    <table style="width: 100%;" aria-describedby="example_info" class="display dataTable table table-bordered table-striped" id="example" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Promotion</th>
            <th>Prénom Nom</th>
            <th>Poste</th>
            <th>Identifiant</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Adresse</th>
            {% if is_granted('ROLE_CA') %}
            <th>Date de naissance</th>
            <th>Lieu de naissance</th>
            {% endif %}
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
                {% for membre in membres %}
          <tr>
            <td>{{ membre.promotion }}</td>
            <td>{{ membre.personne.prenomNom }}</td>
            <td>
                {% for mandat in membre.mandats %}
                    {{ "Du " ~ mandat.debutMandat | date("d/m/Y") ~ " au " ~mandat.finMandat | date("d/m/Y") ~ " - " ~ mandat.poste.intitule }}<br />
                {% endfor %}
            </td>
            <td>{{ membre.identifiant }}</td>
            <td>{{ membre.personne.email }}</td>
            <td>{{ membre.personne.mobile }}</td>
            <td>{{ membre.personne.adresse }}</td>
            {% if is_granted('ROLE_CA') %}
            <td>{{ membre.dateDeNaissance ? membre.dateDeNaissance | date('d/m/Y') }}</td>
            <td>{{ membre.lieuDeNaissance }}</td>
            {% endif %}
            <td><a href="{{ path('mgatePersonne_membre_modifier', {'id': membre.id}) }}">modifier</a></td>
          </tr>
                {% else %}
                    <li>Pas (encore !) de Membre</li>
                {% endfor %}
        </tbody>
    </table>
    

{% endblock %}
