        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgatePersonneBundle::layout.html.twig" %}
{% block title %}Ajouter/Modifier un membre - {{ parent() }}{% endblock %}

{% block content_bundle %}
<h2>Ajouter/Modifier un membre</h2>
<form id="form" method="POST" {{ form_enctype(form) }}>

    <table class="table table-bordered table-striped" data-prototype="{{ form_widget(form.mandats.vars.prototype) | e }}">
        <tr>
            <th colspan="7">Informations Membre</th>
        </tr>
        <tr>
            <td rowspan="6" style="text-align: center;"><img class="img-thumbnail" style="height: 200px" src="{{ asset(photoURI) }}"/><br><br>{{ form_widget(form.photo) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.personne.sexe) }}</td>
            <td>{{ form_widget(form.personne.sexe) }}</td>
            <td>{{ form_label(form.personne.prenom) }}</td>
            <td>{{ form_widget(form.personne.prenom) }}</td>
            <td>{{ form_label(form.personne.nom) }}</td>
            <td>{{ form_widget(form.personne.nom) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.personne.mobile) }}</td>
            <td>{{ form_widget(form.personne.mobile) }}</td>
            <td>{{ form_label(form.promotion) }}</td>
            <td>{{ form_widget(form.promotion) }}</td>
            <td>{{ form_label(form.identifiant) }}</td>
            <td>{{ form_widget(form.identifiant) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.personne.email) }}</td>
            <td>{{ form_widget(form.personne.email) }}</td>
            <td>{{ form_label(form.personne.estAbonneNewsletter)}}</td>
            <td>{{ form_widget(form.personne.estAbonneNewsletter)}}</td>
            <td>{{ form_label(form.personne.emailEstValide)}}</td>
            <td>{{ form_widget(form.personne.emailEstValide)}}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.dateDeNaissance) }}</td>
            <td>{{ form_widget(form.dateDeNaissance) }}</td>
            <td>{{ form_label(form.lieuDeNaissance) }}</td>
            <td>{{ form_widget(form.lieuDeNaissance) }}</td>
			<td>{{ form_label(form.nationalite) }}</td>
            <td>{{ form_widget(form.nationalite) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.emailEMSE) }}</td>
            <td>{{ form_widget(form.emailEMSE) }}</td>
            <td>{{ form_label(form.appartement) }}</td>
            <td>{{ form_widget(form.appartement) }}</td>
            <td>{{ form_label(form.personne.adresse) }}</td>
            <td>{{ form_widget(form.personne.adresse) }}</td>
        </tr>
        <tr>
            <th colspan="7">Informations Intervenant</th>
        </tr>
        <tr>
            <td colspan="4">{{ form_label(form.dateConventionEleve) }}</td>
            <td colspan="3">{{ form_widget(form.dateConventionEleve) }}</td>
        </tr>
        <tr>
            <td colspan="6"><button class="btn" type="submit" value="Ajouter mandat" name="add"><i class="glyphicon glyphicon-plus"></i></button> <h4 style="display: inline;">Postes occupés</h4></td>
        </tr>
    {% for mandat in form.mandats %}
        <tr class="mandats">
            <td>{{ form_label(mandat.poste) }}</td>
            <td colspan="2">{{ form_widget(mandat.poste) }}</td>
            <td>{{ form_label(mandat.debutMandat) }}</td>
            <td>{{ form_widget(mandat.debutMandat) }}</td>
            <td>{{ form_label(mandat.finMandat) }}</td>
            <td>{{ form_widget(mandat.finMandat) }}</td>
        </tr>
    {% endfor %}
    </table>
{{ form_rest(form) }}
    <input name="save" type="submit" value="Enregistrer" class="btn btn-success" />
</form>
<br>
<form class="bootbox-confirm" data-content="Êtes-vous sûr de vouloir supprimer définitivement ce membre ?" action="{{ path('mgatePersonne_membre_supprimer', { 'id': form.vars.value.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger">Supprimer le membre</button>
</form>

	<br>
    <p>
        <a href="{{ path('mgatePersonne_membre_homepage') }}" >Retour à la liste des membres</a>
    </p>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}

    <script type="text/javascript">
        var isDirty = false;

        jQuery(document).ready(function() {
        
            //Verification avant de quitter
            $(':input').change(function(){
                if(!isDirty){
                   isDirty = true;
                }
            });
            $(window).bind('beforeunload', function(){
                if(isDirty)
                    return "Do you really want to leave now?";
            });
            $('form').submit(function() {
                isDirty = false;
                return true;
            });
        
            //Rajout des boutons (X, up, down) pour les phases
            $('.mandats').each(function() {
                addPhaseBouton($(this));
            });
        
        });
    
        function addPhaseBouton($tagFormLi) {
            var $delete = $('<button class="btn" id="myButtonDelete" class="btn">X</button>');
            $tagFormLi.children().first().append($delete);
        
            $delete.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
            
                //CONFIRM confirmation suppression
                var message = "Êtes vous sûr de vouloir supprimer ce mandat ?";
                bootbox.confirm(message, function(result) {
                    if (result) {
                        $tagFormLi.remove();
                    }
                });
               });
        }
        
        </script>
{% endblock %}


