{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}Modifier un membre - {{ parent() }}{% endblock %}

{% block content_bundle %}

    <h2>Modifier un membre</h2>
<form method="post" {{ form_enctype(form) }}>
	
	{{ form_widget(form) }}
	
	<input type="submit" />
</form>

    <form id="confirm" data-content="Êtes-vous sûr de vouloir supprimer définitivement cet élément ?" action="{{ path('mgatePersonne_membre_supprimer', { 'id': form.vars.value.id }) }}" method="post">
    {{ form_widget(delete_form) }}
        <button>Supprimer le membre</button>
    </form>    
         
<p>
    <a href="{{ path('mgatePersonne_membre_homepage') }}" >Retour à la liste des membres</a>
</p>
{% endblock %}

        
