{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}
	Affichage d'un Membre - {{ parent() }}
{% endblock %}

{% block content_bundle %}
<p>
	<h2>{{ membre.personne.sexe }} {{ membre.personne.nom }} {{ membre.personne.prenom }}</h2>
	<i>{{ membre.personne.poste }}</i><br />
            Mobile: {{ membre.personne.mobile }}<br />
            Fix: {{ membre.personne.fix }}<br />
            Email: {{ membre.personne.email }}<br />
            Adresse: {{ membre.personne.adresse }}<br />
            Mobile: {{ membre.personne.mobile }}<br />
</p>

<p>
    <a href="{{ path('mgatePersonne_membre_modifier', {'id': membre.id}) }}">Modifier le membre</a><br />
    <a href="{{ path('mgatePersonne_membre_homepage') }}">Retour à la liste des membres</a>
</p>

{% endblock %}
