        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{# layout d'accueil pour les Prospect  #}

{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block javascript_quick %}
{{ parent() }}
    <script src="{{ asset('js/jquery.dataTables.min.js')}}"></script>
    
    <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                    $('#example').dataTable({
                        "bPaginate": false,
						"aaSorting": [[0,'desc']],
                    });
            } );
    </script>
	
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatable.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatable_page.css') }}">
{% endblock %}
    
{% block content_bundle %}
<h2>Liste des Prospects</h2>

    <table style="width: 100%;" aria-describedby="example_info" class="display dataTable table table-bordered table-striped" id="example" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Type</th>
			<th>Adresse</th>
            <th>Nombre d'employes</th>
          </tr>
        </thead>
        <tbody>
            {% for prospect in prospects %}
            <tr>
                <td><a href="{{ path('mgatePersonne_prospect_voir', {'id': prospect.id}) }}"> {{ prospect.nom }} </a></td>
                <td>{{ prospect.entiteToString }}</td>
                <td>{{ prospect.adresse }}</td>
                <td>{{ prospect.employes | length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
