{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}
	Affichage d'un prospect - {{ parent() }}
{% endblock %}
    
{% block javascript_quick %}
{{ parent() }}
    <script src="{{ asset('js/jquery.dataTables.min.js')}}"></script>
    
    <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                    $('#example').dataTable({
                        "bPaginate": false,
						"aaSorting": [[0,'asc']],
                    });
            } );
    </script>
	
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatable.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatable_page.css') }}">
{% endblock %}

{% block content_bundle %}

	<h2>{{ prospect.nom }}</h2>
    <i><h4>Type de prospect : {{ prospect.EntiteToString }}</h4></i>
    <p><h4>Adresse : {{ prospect.adresse }}</h4></p>

    
<div id="mailling" class="bs-callout bs-callout-info">
</div>

<h2>Liste des employés</h2>

    <table style="width: 100%;" aria-describedby="example_info" class="display dataTable table table-bordered table-striped" id="example" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Nom</th>
            <th>E-mail</th>
            <th>Fixe</th>
            <th>Mobile</th>
            <th>Poste</th>
			<th>Adresse/Bureau</th>
          </tr>
        </thead>
        <tbody>
            {% for employe in prospect.employes %}
            <tr>
                <td><h4><a href="{{ path('mgatePersonne_employe_modifier', {'id': employe.id}) }}">{{ employe.personne.nom | title }} {{ employe.personne.prenom }}</a></h4></td>
                <td title="{{ employe.personne.emailEstValide ? (employe.personne.estAbonneNewsletter ? "Est Abonné à la Newsletter" : "N'est pas abonné à la newsletter") : "l'Email n'est plus valide" }}" class="{{ employe.personne.emailEstValide ? (employe.personne.estAbonneNewsletter ? "success" : "warning") : "error" }}">{{ employe.personne.email }}</td>
                <td>{{ employe.personne.fix }}</td>
                <td>{{ employe.personne.mobile }}</td>
                <td><h5>{{ employe.poste }}</h5></td>
                <td>{{ employe.personne.adresse }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<table class="table">
    <tr>
        <td style="text-align: left;"><a href="{{ path('mgatePersonne_employe_ajouter', {'prospect_id': prospect.id}) }}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Ajouter un employé</button></a></td>
        <td style="text-align: center;"><a href="{{ path('mgatePersonne_prospect_modifier', {'id': prospect.id}) }}"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Modifier le prospect</button></a></td>
        <td style="text-align: right;"><a href="{{ path('mgatePersonne_prospect_homepage') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> Retour à la liste des Prospect</button></a></td>
    </tr>
</table>
<pre>
<h4>Maling des mails valides, abonnés à la newsletter</h4>
{{ mailing }}
</pre>

{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': prospect.thread.id} %}

{% endblock %}
