{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}
	Affichage d'un prospect - {{ parent() }}
{% endblock %}

{% block content_bundle %}

	<h2>{{ prospect.nom }}</h2>
	<i>{{ prospect.entite }}</i>

        <p>Adresse :<br/>{{ prospect.adresse }}</p>
        <a href="{{ path('mgatePersonne_prospect_modifier', {'id': prospect.id}) }}">Modifier le prospect</a><br />
 <p>
        <h3>Employes:</h3>
        {% for employe in prospect.employes %}
            <li>
            <h4><a href="{{ path('mgatePersonne_employe_modifier', {'id': employe.id}) }}">{{ employe.personne.sexe }} {{ employe.personne.prenom }} {{ employe.personne.nom }} - {{ employe.personne.poste }}</a></h4>
            Mobile: {{ employe.personne.mobile }}<br />
            Fix: {{ employe.personne.fix }}<br />
            Email: {{ employe.personne.email }}<br />
            Adresse: {{ employe.personne.adresse }}<br />
            Mobile: {{ employe.personne.mobile }}<br />
            </li>
            <br />
        {% else %}
            <li>L'entreprise n'a pas encore d'employés. Attention les documents ont besoin au moins du signataire</li>
        {% endfor %}
        <a href="{{ path('mgatePersonne_employe_ajouter', {'prospect_id': prospect.id}) }}">Ajouter un employé</a>
</p>

<p>     
    <br /><a href="{{ path('mgatePersonne_prospect_homepage') }}">Retour à la liste des Prospect</a>
</p>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': prospect.thread.id} %}

{% endblock %}
