        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgateTresoBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block content_bundle %}


<h2>Déclaration URSSAF - BRC</h2>

<form method="post" {{ form_enctype(form) }}>
    {% form_theme form 'mgateSuiviBundle:Form:fields.html.twig' %}
	{{ form_label(form.date) }} {{ form_widget(form.date) }}
	{{ form_widget(form) }}
	<br>
    <input type="submit" value="Chercher" class="btn"/>
</form>        
        
<br>
<h4 title="Nombre d’intervenants différents ayant reçu au moins un JEH via un Bulletin de Versement sur la période">
    Nombre de salariés ou d’assurés rémunérés dans l’établissement concernés par la déclaration pour la période : {{ nbSalarieRemunere }}
</h4>
<!--h4 title="Nombre d’intervenants différents ayant au moins un RM en cours à la fin de la période">
    Nombre de salariés concernés par la déclaration au dernier jour de la période
</h4-->
<table class="table table-bordered table-striped">
    <tr>
        <th>Référence du BV</th>
        <th>Etudiant</th>
        <th>Montant des Cotisations</th>
    </tr>
    {% set totalCotisation = 0 %}
    {% for bv in bvs %}
    {% set totalCotisation = totalCotisation + bv.partJunior %}
    <tr>
        <td>{{ bv.reference }}</td>
        <td>{{ bv.mission.intervenant.personne.prenomNom }}</td>
        <td>{{ bv.partJunior }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th colspan="2">Total</th>
        <th>{{ totalCotisation }}</th>
    </tr>
</table>
{% endblock %}
        
{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}
    