{% extends "mgateTresoBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block content_bundle %}


<h2>Déclaration de la TVA</h2>

<form method="post" {{ form_enctype(form) }}>
    {% form_theme form 'mgateSuiviBundle:Form:fields.html.twig' %}
	{{ form_label(form.date) }} {{ form_widget(form.date) }}
	{{ form_widget(form) }}
	<br>
    <input type="submit" value="Chercher" class="btn"/>
</form>        
        
<br>
<h4 title="Nombre d’intervenants différents ayant reçu au moins un JEH via un Bulletin de Versement sur la période">
    Nombre de salariés ou d’assurés rémunérés dans l’établissement concernés par la déclaration pour la période : {{ nbSalarieRemunere }}
</h4>
<h4 title="Nombre d’intervenants différents ayant au moins un RM en cours à la fin de la période">
    Nombre de salariés concernés par la déclaration au dernier jour de la période
</h4>
<table class="table table-bordered table-striped">
    <tr>
        <th>Référence du BV</th>
        <th>Etudiant</th>
        <th>Montant des Cotisations</th>
    </tr>
    {% set totalCotisation = 0 %}
    {% for bv in bvs %}
    {% set totalCotisation = totalCotisation + bv.partJunior %}
    <tr>
        <td>{{ bv.reference }}</td>
        <td>{{ bv.mission.intervenant.personne.prenomNom }}</td>
        <td>{{ bv.partJunior }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th colspan="2">Total</th>
        <th>{{ totalCotisation }}</th>
    </tr>
</table>
{% endblock %}
        
{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}
    