        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgateTresoBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block content_bundle %}


<h2>Déclaration de la TVA</h2>

<form method="post" {{ form_enctype(form) }}>
    {% form_theme form 'mgateSuiviBundle:Form:fields.html.twig' %}
	{{ form_label(form.date) }} {{ form_widget(form.date) }}
	{{ form_widget(form) }}
	<br>
    <input type="submit" value="Chercher" class="btn"/>
</form>        
<h3>{{ periode }}</h3>
<br>
<table class="table table-bordered table-striped">
    <tr>
        <td colspan="{{ tvas | length +5}}"><h3>TVA Collectée</h3></td>
    </tr>
    <tr>
        <th>Date</th>
        <th>Libellé</th>
        <th>Montant HT</th>
        {% for tva in tvas %}
        <th>{{ tva }} %</th>
        {% endfor %}
        <th>TVA</th>
        <th>Montant TTC</th>
    </tr>
    {% for line in tvaCollectee %}
    <tr style="text-align: right;">
        <td>{{ line['DATE'] | date('d/m/Y') }}</td>
        <td>{{ line['LI']}}</td>        
        <td>{{ line['HT']  |number_format(2, ',', ' ')}} €</td>
        {% for tva in tvas %}
        <td>
            {% if tva in  line['TVAT']|keys %}
                {{line['TVAT'][tva] |number_format(2, ',', ' ')}} €
            {%else%}
                - €                
            {% endif %}
        </td>
        {% endfor %}
        <td>{{ line['TVA']  |number_format(2, ',', ' ')}} €</td>
        <td>{{ line['TTC'] |number_format(2, ',', ' ')}} €</td>
    </tr>
    {% endfor %}
    <tr style="text-align: right;">
        <th colspan="2">Total</th>
        <td>{{ totalTvaCollectee['HT'] |number_format(2, ',', ' ')}} €</td>
        {% for tva in tvas %}
        <td>
            {% if tva in  totalTvaCollectee |keys %}
                {{totalTvaCollectee[tva] |number_format(2, ',', ' ')}} €
            {%else%}
                - €                
            {% endif %}
        </td>
        {% endfor %}
        <td>{{ totalTvaCollectee['TVA'] |number_format(2, ',', ' ')}} €</td>
        <td>{{ totalTvaCollectee['TTC'] |number_format(2, ',', ' ')}} €</td>
    </tr>
    <tr>
        <td colspan="{{ tvas | length +5}}" style="visibility: hidden;"></td>
    </tr>
    <tr>
        <td colspan="{{ tvas | length +5}}" style="visibility: hidden;"></td>
    </tr>
    <tr>
        <td colspan="{{ tvas | length +5}}"><h3>TVA Deductible</h3></td>
    </tr>
    <tr>
        <th>Date</th>
        <th>Libellé</th>
        <th>Montant HT</th>
        {% for tva in tvas %}
        <th>{{ tva }} %</th>
        {% endfor %}
        <th>TVA</th>
        <th>Montant TTC</th>
    </tr>
    {% for line in tvaDeductible %}
    <tr style="text-align: right;">
        <td>{{ line['DATE'] | date('d/m/Y') }}</td>
        <td>{{ line['LI']}}</td>        
        <td>{{ line['HT']  |number_format(2, ',', ' ')}} €</td>
        {% for tva in tvas %}
        <td>
            {% if tva in  line['TVAT']|keys %}
                {{line['TVAT'][tva] |number_format(2, ',', ' ')}} €
            {%else%}
                - €                
            {% endif %}
        </td>
        {% endfor %}
        <td>{{ line['TVA']  |number_format(2, ',', ' ')}} €</td>
        <td>{{ line['TTC'] |number_format(2, ',', ' ')}} €</td>
    </tr>
    {% endfor %}
    <tr style="text-align: right;">
        <th colspan="2">Total</th>
        <td>{{ totalTvaDeductible['HT'] |number_format(2, ',', ' ')}} €</td>
        {% for tva in tvas %}
        <td>
            {% if tva in  totalTvaDeductible |keys %}
                {{ totalTvaDeductible[tva] |number_format(2, ',', ' ')}} €
            {%else%}
                - €                
            {% endif %}
        </td>
        {% endfor %}
        <td>{{  totalTvaDeductible['TVA'] |number_format(2, ',', ' ')}} €</td>
        <td>{{  totalTvaDeductible['TTC'] |number_format(2, ',', ' ')}} €</td>
    </tr>
</table>
{% endblock %}
        
{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}
    