        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Affichage d'un Avant-Projet - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>Avant-Projet n°{{ etude.id }}</h2>
    <i>Par le mandat {{ etude.mandat }}, créée le {{ etude.dateCreation|date("d/m/Y") }}</i>
    <i>Client {{ etude.prospect.nom }} </i>
    <i>Description de l'étude: {{etude.description }}</i>
    <br>
    <h2>Avant-Projet</h2>
    
    {% for ap in etude.aps %}
        <i>Version {{ap.id}}</i>
    {% endfor %}

    <div>

    </div>

    <p>
        <a href="{{ path('mgateSuivi_etude_homepage') }}">Retour à la liste</a>
        <a href="{{ path('mgateSuivi_etude_modifier', {'numero': etude.numero}) }}">Modifier l'étude</a>
    
    </p>

{% endblock %}
