{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Affichage d'un Avant-Projet - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>Avant-Projet n°{{ etude.id }}</h2>
    <i>Par le mandat {{ etude.mandat }}, créée le {{ etude.dateCreation|date("d/m/Y") }}</i>
    <i>Client {{ etude.prospect.nom }} </i>
    <i>Description de l'étude: {{etude.description }}</i>
    <br>
    <h2>Avant-Projet</h2>
    
    {% for ap in etude.aps %}
        <i>Version {{ap.id}}</i>
    {% endfor %}

    <div>

    </div>

    <p>
        <a href="{{ path('mgateSuivi_etude_homepage') }}">Retour à la liste</a>
        <a href="{{ path('mgateSuivi_etude_modifier', {'id': etude.id}) }}">Modifier l'étude</a>
    
 {#  
        <li>
            <form action="{{ path('mgateSuivi_etude_supprimer', { 'id': etude.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
#}	
    </p>

{% endblock %}
