{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block content_bundle %}


{% include "::Tools/select2.html.twig" %}

    <h2>Ajouter une étude</h2>
    
 <a href="{{ path('mgatePersonne_prospect_ajouter', {'format':'mini'}) }}?KeepThis=true&TB_iframe=true&height=400&width=600" title="Ajouter un client" class="thickbox">Ajouter un Prospect</a>


<form method="post" {{ form_enctype(form) }}>
    
    {% form_theme form 'mgateSuiviBundle:Form:fields.html.twig' %}
    {{ form_widget(form) }}
    
	
	<input type="submit" value="Enregistrer l'étude"/>
</form>

 
 
{% endblock %}
 
{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { known: form.knownProspect, knowned: form.prospect, newed: form.newProspect }%} 
{% endblock %}
