        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block content_bundle %}


    <h2>Ajouter une étude</h2>
    
 <a href="{{ path('mgatePersonne_prospect_ajouter', {'format':'mini'}) }}?KeepThis=true&TB_iframe=true&height=400&width=600" title="Ajouter un client" class="thickbox">Ajouter un Prospect</a>


<form method="post" {{ form_enctype(form) }}>
    
    {% form_theme form 'mgateSuiviBundle:Form:fields.html.twig' %}
	<br>
	<table class="table table-bordered table-striped standard">
		<tr>
            <th>{{ form_label(form.knownProspect) }}</th>
            <td>{{ form_widget(form.knownProspect) }}</td>
        </tr>
        <tr>
            <th id="{{ form.newProspect.vars.id }}_block" colspan="2" class="success">Nouveau prospect</th>
        </tr>
        <tr>
            <th>{{ form_label(form.newProspect.nom) }}</th>
            <td>{{ form_widget(form.newProspect.nom) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.newProspect.entite) }}</th>
            <td>{{ form_widget(form.newProspect.entite) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.newProspect.adresse) }}</th>
            <td>{{ form_widget(form.newProspect.adresse) }}</td>
        </tr>
        <tr>
            <th id="{{ form.newProspect.vars.id }}_block" colspan="2" class="success">L'étude</th>
        </tr>
        <tr>
            <th>{{ form_label(form.prospect) }}</th>
            <td>{{ form_widget(form.prospect) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.nom) }}</th>
            <td>{{ form_widget(form.nom) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.description) }}</th>
            <td>{{ form_widget(form.description) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.mandat) }}</th>
            <td>{{ form_widget(form.mandat) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.num) }}</th>
            <td>{{ form_widget(form.num) }}</td>
        </tr>
		<tr>
            <th>{{ form_label(form.confidentiel) }}</th>
            <td>{{ form_widget(form.confidentiel) }}</td>
        </tr>
		<tr>
            <th>{{ form_label(form.suiveur) }}</th>
            <td>{{ form_widget(form.suiveur) }}</td>
        </tr>
    </table>
    {{ form_widget(form) }}
    
	
	<input type="submit" value="Enregistrer l'étude" class="btn"/>
</form>

 
 
{% endblock %}
 
{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { known: form.knownProspect, knowned: form.prospect, newed: form.newProspect }%} 
{% endblock %}
