{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block javascripts %}

    {{ form_javascript(form) }}
{% endblock %}

{% block content_bundle %}
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript" src="{{ asset('bundles/mgatesuivi/tiny_mce/jquery.tinymce.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/mgatesuivi/js/jquery.ui.datepicker-fr.js') }}"></script>

<script type="text/javascript"> var tb_pathToImage = "{{ asset('bundles/mgatesuivi/thickbox/loadingAnimation.gif') }}";</script>
<script type="text/javascript" src="{{ asset('bundles/mgatesuivi/thickbox/thickbox-compressed.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/mgatesuivi/thickbox/thickbox.css') }}" type="text/css" media="screen" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    

<a href="{{ path('mgatePersonne_prospect_ajouter', {'format':'mini'}) }}?KeepThis=true&TB_iframe=true&height=400&width=600" title="Ajouter un client" class="thickbox">Ajouter un client</a>

    <h2>Ajouter une étude</h2>

    {% include "mgateSuiviBundle:Etude:formulaire.html.twig" %} 

    <p>
        Tu es là pour ajouter une étude alors fais toi plaiz ;)
        Mais faut que je fasse le formulaire ^^
    </p>

{% endblock %}
