{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Modifier une étude - {{ parent() }}
{% endblock %}

{% block content_bundle %}
                
    <h2>Modifier l'étude</h2>
    
<form method="post" {{ form_enctype(form) }}>
    
    {% form_theme form 'mgateSuiviBundle:Form:fields.html.twig' %}
    <table class="table table-bordered table-striped standard">
		<tr>
            <th>{{ form_label(form.knownProspect) }}</th>
            <td>{{ form_widget(form.knownProspect) }}</td>
        </tr>
        <tr>
            <th id="{{ form.newProspect.vars.id }}_block" colspan="2" class="success">Nouveau prospect</th>
        </tr>
        <tr>
            <th>{{ form_label(form.newProspect.nom) }}</th>
            <td>{{ form_widget(form.newProspect.nom) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.newProspect.entite) }}</th>
            <td>{{ form_widget(form.newProspect.entite) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.newProspect.adresse) }}</th>
            <td>{{ form_widget(form.newProspect.adresse) }}</td>
        </tr>
        <tr>
            <th id="{{ form.newProspect.vars.id }}_block" colspan="2" class="success">L'étude</th>
        </tr>
        <tr>
            <th>{{ form_label(form.prospect) }}</th>
            <td>{{ form_widget(form.prospect) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.nom) }}</th>
            <td>{{ form_widget(form.nom) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.description) }}</th>
            <td>{{ form_widget(form.description) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.domaineDeCompetence) }}</th>
            <td>{{ form_widget(form.domaineDeCompetence) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.sourceDeProspection) }}</th>
            <td>{{ form_widget(form.sourceDeProspection) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.mandat) }}</th>
            <td>{{ form_widget(form.mandat) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.num) }}</th>
            <td>{{ form_widget(form.num) }}</td>
        </tr>
		<tr>
            <th>{{ form_label(form.confidentiel) }}</th>
            <td>{{ form_widget(form.confidentiel) }}</td>
        </tr>
		<tr>
            <th>{{ form_label(form.suiveur) }}</th>
            <td>{{ form_widget(form.suiveur) }}</td>
        </tr>
    </table>
    {{ form_widget(form) }}
    
	<br>
	<input type="submit" value="Enregistrer l'étude" class="btn"/>
        <input type="submit" value="Enregistrer l'étude et passer à l'AP" name="ap" id="ap" class="btn"/>
</form>
	<br>

    <p>
        <a href="{{ path('mgateSuivi_etude_voir', {'numero': etude.numero}) }}" >Retour à l'article</a>
    </p>
    
    
        <form id="confirm" data-content="Êtes-vous sûr de vouloir supprimer définitivement cet élément ?" action="{{ path('mgateSuivi_etude_supprimer', { 'numero': etude.numero }) }}" method="post">
            {{ form_widget(delete_form) }}
                <button class="btn">Supprimer l'étude</button>
        </form>

{% endblock %}
   
{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { known: form.knownProspect, knowned: form.prospect, newed: form.newProspect }%} 
{% endblock %}