{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
Affichage d'une étude - {{ parent() }}
{% endblock %}

{% block content_bundle %}
<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Récapitulatif de l'étude</a></li>
        <li><a href="#tab2" data-toggle="tab">Phases</a></li>
        <li><a href="#tab3" data-toggle="tab">Suivi</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <h2>Etude {{ getRefEtude(etude) }}</h2>
            <li>Par le mandat {{ etude.mandat }}, créée le {{ etude.dateCreation|date("d/m/Y") }}</li>
            <li>Client: {{ etude.prospect.nom }} </li>
            <li>Suiveur: {{etude.suiveur.prenomNom| default("Pas de suiveur!")}}</li>
            <li>Description de l'étude: <br />{{etude.description }}</li>
            <a href="{{ path('mgateSuivi_etude_modifier', {'id': etude.id}) }}">modifier</a>
            <br>

            <p>
            <h3>Etat de l'étude:</h3>
    {% for suivi in etude.suivis %}
            <li><a href="{{ path('mgateSuivi_suivi_modifier', {'id': suivi.id}) }}">Evènement n°{{suivi.id}}</a> le {{ suivi.date|date("d/m/Y") }}: {{suivi.contenu}}</li>
    {% endfor %}
            <a href="{{ path('mgateSuivi_suivi_ajouter', {'id': etude.id}) }}">Ajouter un nouvel évènement</a>
            </p>
            <div class="gantt" id="ganttId0"></div>
            
            
            
            <p> Doit disparaitre
            <h3>Contact client:</h3>
    {% for contact in etude.clientContacts %}
            <li><a href="{{ path('mgateSuivi_clientcontact_modifier', {'id': contact.id}) }}">Contact n°{{contact.id}}</a> effectué le {{ contact.date|date("d/m/Y") }}</li>
    {% endfor %}
            <a href="{{ path('mgateSuivi_clientcontact_ajouter', {'id': etude.id}) }}">Ajouter un nouveau contact client</a>
            </p>
        </div>
            <div class="tab-pane" id="tab2" style="min-height:200px;">
                       {% include "mgateSuiviBundle:Etude:Blocks/Phase.html.twig" with  {'etude':  etude} %}
            </div>
            <div class="tab-pane" id="tab3">
                <div class="row">
                    <!-- AVANT PROJET -->
                    <div class="span4">
                         {% include "mgateSuiviBundle:Etude:Blocks/AP.html.twig" with  {'etude':  etude} %}
                    </div>
                    <!-- CONVENTION CLIENT -->
                    <div class="span4">
                         {% include "mgateSuiviBundle:Etude:Blocks/CC.html.twig" with  {'etude':  etude} %}
                    </div>
                    <!-- RECAPITULATIF MISSION -->
                    <div class="span4">
                         {% include "mgateSuiviBundle:Etude:Blocks/RM.html.twig" with  {'etude':  etude} %}       
                    </div>
                    <!-- FACTURE ACCOMPTE -->
                    <div class="span4">
                         {% include "mgateSuiviBundle:Etude:Blocks/FA.html.twig" with  {'etude':  etude} %}  
                    </div>
                </div>




                            <p>
                            <h3>PVI:</h3>
    {% for pvi in etude.pvis %}
                            <li><a href="{{ path('mgateSuivi_pvi_modifier', {'id': pvi.id}) }}">PVI n°{{pvi.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_pvi_ajouter', {'id': etude.id}) }}">Ajouter un PVI</a>
                            </p>
                            <p>
                            <h3>PVR:</h3>
    {% for pvr in etude.pvrs %}
                            <li><a href="{{ path('mgateSuivi_pvr_modifier', {'id': pvr.id}) }}">PVR n°{{pvr.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_pvr_ajouter', {'id': etude.id}) }}">Ajouter un PVR</a>
                            </p>
                            <p>
                            <h3>Facture de Solde:</h3>
                            <li><a href="{{ path('mgateSuivi_facture_rediger', {'id': etude.id, 'type': 'fs'}) }}">Rediger la Facture de Solde</a></li>
                            </p>
                            <p>
                            <h3>Factures Intermédiaires:</h3>
    {% for facture in etude.fis %}
                            <li><a href="{{ path('mgateSuivi_facture_modifier', {'id': facture.id}) }}">Facture Intermédiaire n°{{facture.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_facture_ajouter', {'id': etude.id}) }}">Ajouter une facture</a>
                            </p>
                            <p>
                            <h3>Avenants:</h3>
    {% for av in etude.avs %}
                            <li><a href="{{ path('mgateSuivi_av_modifier', {'id': av.id}) }}">Avenant n°{{av.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_av_ajouter', {'id': etude.id}) }}">Ajouter un Avenant</a>
                            </p>
                            <p>
                            <h3>Avenants au Récapitulatif de Mission:</h3>
    {% for av in etude.avMissions %}
                            <li><a href="{{ path('mgateSuivi_avmission_modifier', {'id': av.id}) }}">Avenant n°{{av.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_avmission_ajouter', {'id': etude.id}) }}">Ajouter un Avenant au Récapitulatif de Mission</a>
                            </p>
                        </div>
                    </div>
                </div>




                <p>
                    <br />
                    <a href="{{ path('mgateSuivi_etude_homepage') }}">Retour à la liste</a> - 
                    <a href="{{ path('mgateSuivi_etude_modifier', {'id': etude.id}) }}">Modifier l'étude</a>

 {#  
        <li>
            <form action="{{ path('mgateSuivi_etude_supprimer', { 'id': etude.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
#}	
                </p>

        {% if etude.thread|default('0') %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
            {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': etude.thread.id} %}
        {% endif %} 


<link rel="stylesheet" href="{{ asset('css/gantt.css')}}" /> 
<script src="{{ asset('js/jquery.fn.gantt.js')}}"></script>
<script src="http://taitems.github.com/UX-Lab/core/js/prettify.js"></script>
                <script>
{% include "mgateSuiviBundle:Etude:Blocks/ganttAvancement.js.twig" with  {'etude':  etude, 'id' : 0} %}
    </script>


{% endblock %}
