{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/gantt.css')}}" /> 
{% endblock %}

{% block title %}
Affichage d'une étude - {{ parent() }}
{% endblock %}

{% block content_bundle %}



<div class="verticaltabs-container"><!-- verticaltabs-container-->
    <ul class="nav nav-tabs" style="font-weight: bold; margin: 40px 30px;">
        <li class="active"><a href="#tab1" data-toggle="tab">Récapitulatif</a></li>
        <li><a href="#tab2" data-toggle="tab">Phases</a></li>
        <li><a href="#tab3" data-toggle="tab">Rédaction et Génération</a></li>
        <li><a href="#tab4" data-toggle="tab">Suivi</a></li>
    </ul>
    <div class="tab-content">
    <!-- ERRORS -->
    {% if etude.stateID | default(1) < 3 %}
        {% include "mgateSuiviBundle:Etude:Infos/error.html.twig" with  {'etude':  etude} %}
    {% endif %}
    <!--        -->
    <!-- RECAPITULATIF -->
        <div class="tab-pane active" id="tab1">
            {% include "mgateSuiviBundle:Etude:TabVoir/Recapitulatif.html.twig" with  {'etude':  etude} %}
        </div>
    <!-- PHASES -->
        <div class="tab-pane" id="tab2" style="min-height:200px;">
            {% include "mgateSuiviBundle:Etude:TabVoir/Phases.html.twig" with  {'etude':  etude} %}
        </div>
    <!-- SUIVI -->
        <div class="tab-pane" id="tab3">
            {% include "mgateSuiviBundle:Etude:TabVoir/Suivi.html.twig" with  {'etude':  etude} %}
        </div>
    <!-- SUIVI DOCUMENTS TYPES AUDIT -->
        <div class="tab-pane" id="tab4">   
        {% include "mgateSuiviBundle:Etude:TabVoir/Redaction.html.twig" with  {'etude':  etude} %}
        </div>
    </div>
</div>

 {# 
        <li>
            <form action="{{ path('mgateSuivi_etude_supprimer', { 'id': etude.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
#}	
                </p>

        {% if etude.thread|default('0') %}
            {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': etude.thread.id} %}
        {% endif %} 







{% endblock %}

{% block javascript_quick %}
{{ parent() }}
                <script src="{{ asset('js/jquery.fn.gantt.js')}}"></script>
                <script>
                //Egalisation de la hauteur des lignes des phases
                function equalHeight(group) {
                   var tallest = 0;
                   group.each(function() {
                      thisHeight = $(this).height();     
                      if(thisHeight > tallest) {
                         tallest = thisHeight;
                      }
                   });
                   group.css("height" , tallest);
                }

                $(window).load(function(){
                    $("#tab2").addClass("active");
                    var nombreDeLigneParPhase = $(".egalize tr").length / $(".egalize").length;
                    for( var i = 1; i <= nombreDeLigneParPhase; i++){
                        equalHeight($(".egalize tr:nth-child("+i+") th"));
                    };
                    $("#tab2").removeClass("active");
                });
                    </script>
{% endblock %}

 {% block javascript %}
{{ parent() }}
{{ form_javascript(formSuivi) }}

                    <!--script src="http://taitems.github.com/UX-Lab/core/js/prettify.js"></script-->
                    <script>
                    function docStateChange()
                    {
                    $('.docTabRow').each(
                        function(i, e)
                        {
                            var ok = true;
                            console.log(e.children);
                            $(e).children().children('input[type=checkbox]').each(
                                function(index, elem)
                                {
                                    ok = ok && elem.checked;
                                }
                            );
                            if(!ok)
                            {
                                $(e).children(':nth-child(2)').html('<span class="label label-important">Incomplet</span>');
                            }
                            else
                                $(e).children(':nth-child(2)').html('<span class="label label-success">Complet</span>');
                            ok = true;
                        }
                    );
                    };
    
    
                    $(document).ready(function() {
                        docStateChange();
                        //listen for the form beeing submitted
                        $("#myForm :input").change(function(){
                            $(".loading").show();
                            var $form = $(this).closest("form");
                            $.post($form.attr("action"), $form.serialize(), 
                            function(data){
                                $(".loading").hide();
            
                                if(data.responseCode!=100 ){
                                   alert("An unexpeded error occured.");
                                   bootbox.alert(data, function() { });
                                   $('#output').html(data.msg);
                                }
                            });

                            //we dont what the browser to submit the form
                            return false;
                        });


                    });


                    {% include "mgateSuiviBundle:Etude:Blocks/ganttAvancement.js.twig" with  {'etude':  etude, 'id' : 0} %}
                        </script>
{% endblock %}
