{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	Affichage d'une étude - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>Etude n°{{ etude.id }}</h2>
    <li>Par le mandat {{ etude.mandat }}, créée le {{ etude.dateCreation|date("d/m/Y") }}</li>
    <li>Client: {{ etude.prospect.nom }} </li>
    <li>Suiveur: {{etude.suiveur.username| default("Pas de suiveur!")}}</li>
    <li>Description de l'étude: <br />{{etude.description }}</li>
    <br>
<p>
    <h3>Phases:</h3>
    {% for phase in etude.phases %}
        <li>Phase n°{{phase.position+1}}: {{phase.titre}}</li>
    {% endfor %}
    <a href="{{ path('mgateSuivi_phases_modifier', {'id': etude.id}) }}">Modifier les phases</a>
 </p>
 <p>
    <h3>Avant-Projet:</h3>
    {% for ap in etude.aps %}
        <li><a href="{{ path('mgateSuivi_ap_modifier', {'id': ap.id}) }}">Version {{ap.id}}</a></li>
    {% endfor %}
    <a href="{{ path('mgateSuivi_ap_ajouter', {'id': etude.id}) }}">Ajouter un Avant-Projet</a>
</p>
 <p>
    <h3>Convention Client:</h3>
    {% for cc in etude.ccs %}
        <li><a href="{{ path('mgateSuivi_cc_modifier', {'id': cc.id}) }}">Version {{cc.id}}</a></li>
    {% endfor %}
    <a href="{{ path('mgateSuivi_cc_ajouter', {'id': etude.id}) }}">Ajouter une Convention Client</a>
 </p>
 <p>
    <h3>PVI:</h3>
    {% for pvi in etude.pvis %}
        <li><a href="{{ path('mgateSuivi_pvi_modifier', {'id': pvi.id}) }}">PVI n°{{pvi.id}}</a></li>
    {% endfor %}
    <a href="{{ path('mgateSuivi_pvi_ajouter', {'id': etude.id}) }}">Ajouter un PVI</a>
 </p>
  <p>
    <h3>PVR:</h3>
    {% for pvr in etude.pvrs %}
        <li><a href="{{ path('mgateSuivi_pvr_modifier', {'id': pvr.id}) }}">PVR n°{{pvr.id}}</a></li>
    {% endfor %}
    <a href="{{ path('mgateSuivi_pvr_ajouter', {'id': etude.id}) }}">Ajouter un PVR</a>
 </p>
 <p>
    <h3>Factures:</h3>
    {% for facture in etude.factures %}
        <li><a href="{{ path('mgateSuivi_facture_modifier', {'id': facture.id}) }}">Facture n°{{facture.id}}</a></li>
    {% endfor %}
    <a href="{{ path('mgateSuivi_facture_ajouter', {'id': etude.id}) }}">Ajouter une facture</a>
 </p>
 <p>
    <h3>Avenants:</h3>
    {% for av in etude.avs %}
        <li><a href="{{ path('mgateSuivi_av_modifier', {'id': av.id}) }}">Avenant n°{{av.id}}</a></li>
    {% endfor %}
    <a href="{{ path('mgateSuivi_av_ajouter', {'id': etude.id}) }}">Ajouter un Avenant</a>
 </p>
 
    <p><br />
        <a href="{{ path('mgateSuivi_etude_homepage') }}">Retour à la liste</a> - 
        <a href="{{ path('mgateSuivi_etude_modifier', {'id': etude.id}) }}">Modifier l'étude</a>
    
 {#  
        <li>
            <form action="{{ path('mgateSuivi_etude_supprimer', { 'id': etude.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
#}	
    </p>

{% endblock %}
