{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
Affichage d'une étude - {{ parent() }}
{% endblock %}

{% block content_bundle %}
<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Récapitulatif de l'étude</a></li>
        <li><a href="#tab2" data-toggle="tab">Phases</a></li>
        <li><a href="#tab3" data-toggle="tab">Suivi</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <h2>Etude {{ getRefEtude(etude) }}</h2>
            <li>Par le mandat {{ etude.mandat }}, créée le {{ etude.dateCreation|date("d/m/Y") }}</li>
            <li>Client: {{ etude.prospect.nom }} </li>
            <li>Suiveur: {{etude.suiveur.prenomNom| default("Pas de suiveur!")}}</li>
            <li>Description de l'étude: <br />{{etude.description }}</li>
            <a href="{{ path('mgateSuivi_etude_modifier', {'id': etude.id}) }}">modifier</a>
            <br>

            <p>
            <h3>Etat de l'étude:</h3>
    {% for suivi in etude.suivis %}
            <li><a href="{{ path('mgateSuivi_suivi_modifier', {'id': suivi.id}) }}">Evènement n°{{suivi.id}}</a> le {{ suivi.date|date("d/m/Y") }}: {{suivi.contenu}}</li>
    {% endfor %}
            <a href="{{ path('mgateSuivi_suivi_ajouter', {'id': etude.id}) }}">Ajouter un nouvel évènement</a>
            </p>
            <div class="gantt" id="ganttId0"></div>
            
            
            
            <p> Doit disparaitre
            <h3>Contact client:</h3>
    {% for contact in etude.clientContacts %}
            <li><a href="{{ path('mgateSuivi_clientcontact_modifier', {'id': contact.id}) }}">Contact n°{{contact.id}}</a> effectué le {{ contact.date|date("d/m/Y") }}</li>
    {% endfor %}
            <a href="{{ path('mgateSuivi_clientcontact_ajouter', {'id': etude.id}) }}">Ajouter un nouveau contact client</a>
            </p>
        </div>
        <div class="tab-pane" id="tab2" style="min-height:200px;">
           <div class="btn-group btn-large">
                                <button class="btn dropdown-toggle btn-large" data-toggle="dropdown">Phases <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('mgateSuivi_phases_modifier', {'id': etude.id}) }}">Modifier les Phases</a></li>
                                </ul>
                            </div>
            <div class="row">

    {% for phase in etude.phases %}
                <div class="span4">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th colspan="2">Phase n°{{phase.position+1}}</th>
                        </tr>
                        <tr>
                            <th>Titre</th>
                            <td>{{phase.titre}}</td>
                        </tr>
                        <tr>
                            <th>Objectifs</th>
                            <td>{{phase.objectif}}</td>
                        </tr>
                        <tr>
                            <th>Méthodologie</th>
                            <td>{{phase.methodo}}</td>
                        </tr>
                        <tr>
                            <th>Validation</th>
                            <td>
                                    {% if phase.validation == 1 %}
                                    Validation orale lors d’un entretien avec le client.
                                    {% elseif phase.validation == 2 %}
                                    Validation écrite qui prend la forme d’un PVI.
                                    {% endif %}   
                                </td>
                            </tr>
                            <tr>
                                <th>Nombre JEH</th>
                                <td>{{phase.nbrJEH}} JEH</td>
                            </tr>
                            <tr>
                                <th>Prix JEH</th>
                                <td>{{phase.prixJEH}} €</td>
                            </tr>
                            <tr>
                                <th>Date de Debut</th>
                                <td>{{phase.dateDebut|date("d/m/Y")}}</td>
                            </tr>
                            <tr>
                                <th>Delai</th>
                                <td>{{phase.delai}} jours</td>
                            </tr>
                            <tr>
                                <th>Prix Phase</th>
                                <td>{{phase.nbrJEH * phase.prixJEH}} €</td>
                            </tr>
                            <tr>
                                <th>Avancement</th>
                                <td></td>
                            </tr>
                        </table>
                    </div>

    {% endfor %}




                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="row">

                    <div class="span4">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th colspan="2">
                            <div class="btn-group btn-large">
                                <button class="btn dropdown-toggle btn-large" data-toggle="dropdown">Avant Projet <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('mgateSuivi_ap_rediger', {'id': etude.id}) }}"><i class="icon-pencil"></i> Rediger</a></li>
                                    <li class="divider"></li>
                                    {% if etude.ap|default('0') %}
                                    <li><a href="{{ path('mgate_publi_publiposter', {'id_etude': etude.id, 'doc' : 'AP'}) }}"><i class="icon-circle-arrow-down"></i> Generer</a></li>
                                   {% endif %} 
                                   {% if etude.ap.generer|default('0') %}
                                    <li><a href="{{ path('mgateSuivi_ap_suivi', {'id': etude.id}) }}">Suivi</a></li>
                                   {% endif %} 
                                </ul>
                            </div></th>
                            </tr>
                            <tr>
                                <th>Version</th>
                                <td>{{etude.ap.version | default('')}}</td>
                            </tr>
                            <tr>
                                {% if etude.ap and etude.ap.dateSignature %} 
                                    <th><span class="label label-success">Date de signature</span></th>
                                <td>
                                
                                        {{etude.ap.dateSignature | date("d/m/Y") }}
                                {% else %}
                                <th><span class="label label-important">Date de signature</span></th>
                                    <td>
                                        Non Signé
                                {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Nombre de dev. estimé</th>
                                    <td>{{ etude.ap.nbrDev| default('Non estimé') }}</td>
                                </tr>
                                <tr>
                                    <th>Présentation du projet</th>
                                    <td>{{etude.presentationprojet|default('')|nl2br}}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{etude.description|default('')|nl2br}}</td>
                                </tr>
                                <tr>
                                    <th>Type de prestation</th>
                                    <td>{{etude.typeprestation|default('')}}</td>
                                </tr>
                                <tr>
                                    <th>Capacité des intervenants</th>
                                    <td>{{etude.competences|default('')|nl2br}}</td>
                                </tr>
                            </table>



                            </p>
                        </div>
                        <div class="span4">
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th colspan="2">
                                <div class="btn-group btn-large">
                                    <button class="btn dropdown-toggle btn-large" data-toggle="dropdown">Convention Client <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('mgateSuivi_cc_rediger', {'id': etude.id}) }}"><i class="icon-pencil"></i> Rédiger</a></li>
                                        <li class="divider"></li>
        {% if etude.cc|default('0') %}
                                        <li><a href="{{ path('mgate_publi_publiposter', {'id_etude': etude.id, 'doc' : 'CC'}) }}"><i class="icon-circle-arrow-down"></i> Generer</a></li>
        {% endif %} 
        {% if etude.cc.generer|default('0') %}
                                        <li><a href="{{ path('mgateSuivi_cc_suivi', {'id': etude.id}) }}">Suivi</a></li>
        {% endif %} 
                                    </ul>
                                </div></th>
                                </tr>
                                <tr>
                                    <th>Version</th>
                                    <td>{{etude.cc.version | default('')}}</td>
                                </tr>
                                <tr>
                                    <th>Date de signature</th>
                                    <td>
                                {% if etude.cc and etude.cc.dateSignature %} 
                                {{etude.cc.dateSignature | date("d/m/Y") }}
                                {% else %}
                                            Non signé
                                {% endif %}
                                     </td>
                                    </tr>
                                    <tr>
                                        <th>Signataire Client</th>
                                        <td>{{etude.cc.signataire2.prenomnom | default('')}}</td>
                                    </tr>
                                    <tr>
                                        <th>Acompte</th>
                                        <td>{{etude.acompte | default('')}}</td>
                                    </tr>
                                    <tr>
                                        <th>Pourcentage Acompte</th>
                                        <td>{{etude.pourcentageAcompte | default('')}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="span4">
                                <table class="table table-striped table-bordered">
                                    <tr>
                                        <th colspan="2">
                                    <div class="btn-group btn-large">
                                        <button class="btn dropdown-toggle btn-large" data-toggle="dropdown">Récapitulatif de Mission <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('mgateSuivi_missions_modifier', {'id': etude.id}) }}"><i class="icon-pencil"></i>  Modifier les Intervenants</a></li>
                                            <li><a href="{{ path('mgateSuivi_missions_repartition', {'id': etude.id}) }}"><i class="icon-pencil"></i>  Répartir les JEH</a></li>
                                            <li><a href="{{ path('mgate_publi_publiposter', {'id_etude':etude.id, 'doc':'RM'}) }}"><i class="icon-circle-arrow-down"></i> Generer</a></li>
                                        </ul>
                                    </div>
                                </th>
                                    </tr>
                                    {% for mission in etude.missions %}
                                    <tr>
                                        <td colspan="2">
                                            <div class="btn-group">
                                                <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> {{ mission.intervenant.personne.prenomNom | default("Intervenant non choisi") }} {{ mission.intervenant.nom | default("") }}</a>
                                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ path('mgateSuivi_mission_rediger', {'id': mission.id}) }}">Rédiger l'RM</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#"><i class="icon-envelope"></i> Contacter</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date de signature</th>
                                        <td>{{mission.dateSignature|default('"now"')|date("d/m/Y")}}</td>
                                    </tr>
                                    <tr>
                                        <th>Progression</th>
                                        <td><div class="progress">
                                    <div class="bar" style="width: {{ mission.avancement|default(10) }}%;"></div>
                                </div></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="span4">
                                <table class="table table-striped table-bordered">
                                    <tr>
                                        <th colspan="2">
                                    <div class="btn-group btn-large">
                                        <button class="btn dropdown-toggle btn-large" data-toggle="dropdown">Facture d'Acompte <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('mgateSuivi_facture_rediger', {'id': etude.id, 'type': 'fa'}) }}">Rédiger la Facture d'Acompte</a></li>
                                        </ul>
                                    </div></th>
                                    </tr>
                                    <tr>
                                        <th>Date de signature</th>
                                        <td>
                                {% if etude.fa and etude.fa.dateSignature %} 
                                {{etude.fa.dateSignature | date("d/m/Y") }}
                                {% else %}
                                                Non signé
                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Montant Total H.T</th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Acompte versé H.T</th>
                                            <td></td>
                                        </tr>

                                    </table>
                                </div>
                            </div>




                            <p>
                            <h3>PVI:</h3>
    {% for pvi in etude.pvis %}
                            <li><a href="{{ path('mgateSuivi_pvi_modifier', {'id': pvi.id}) }}">PVI n°{{pvi.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_pvi_ajouter', {'id': etude.id}) }}">Ajouter un PVI</a>
                            </p>
                            <p>
                            <h3>PVR:</h3>
    {% for pvr in etude.pvrs %}
                            <li><a href="{{ path('mgateSuivi_pvr_modifier', {'id': pvr.id}) }}">PVR n°{{pvr.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_pvr_ajouter', {'id': etude.id}) }}">Ajouter un PVR</a>
                            </p>
                            <p>
                            <h3>Facture de Solde:</h3>
                            <li><a href="{{ path('mgateSuivi_facture_modifier', {'id': etude.id, 'type': 'fs'}) }}">Modifier la Facture de Solde</a></li>
                            </p>
                            <p>
                            <h3>Factures Intermédiaires:</h3>
    {% for facture in etude.fis %}
                            <li><a href="{{ path('mgateSuivi_facture_modifier', {'id': facture.id}) }}">Facture Intermédiaire n°{{facture.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_facture_ajouter', {'id': etude.id}) }}">Ajouter une facture</a>
                            </p>
                            <p>
                            <h3>Avenants:</h3>
    {% for av in etude.avs %}
                            <li><a href="{{ path('mgateSuivi_av_modifier', {'id': av.id}) }}">Avenant n°{{av.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_av_ajouter', {'id': etude.id}) }}">Ajouter un Avenant</a>
                            </p>
                            <p>
                            <h3>Avenants au Récapitulatif de Mission:</h3>
    {% for av in etude.avMissions %}
                            <li><a href="{{ path('mgateSuivi_avmission_modifier', {'id': av.id}) }}">Avenant n°{{av.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_avmission_ajouter', {'id': etude.id}) }}">Ajouter un Avenant au Récapitulatif de Mission</a>
                            </p>
                        </div>
                    </div>
                </div>




                <p>
                    <br />
                    <a href="{{ path('mgateSuivi_etude_homepage') }}">Retour à la liste</a> - 
                    <a href="{{ path('mgateSuivi_etude_modifier', {'id': etude.id}) }}">Modifier l'étude</a>

 {#  
        <li>
            <form action="{{ path('mgateSuivi_etude_supprimer', { 'id': etude.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
#}	
                </p>

        {% if etude.thread|default('0') %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
            {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': etude.thread.id} %}
        {% endif %} 


<link rel="stylesheet" href="{{ asset('css/gantt.css')}}" /> 
<script src="{{ asset('js/jquery.fn.gantt.js')}}"></script>
<script src="http://taitems.github.com/UX-Lab/core/js/prettify.js"></script>
                <script>
{% include "mgateSuiviBundle:Etude:Blocks/ganttAvancement.js.twig" with  {'etude':  etude, 'id' : 0} %}
    </script>


{% endblock %}
