{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
Affichage d'une étude - {{ parent() }}
{% endblock %}

{% block content_bundle %}
<link rel="stylesheet" href="{{ asset('css/gantt.css')}}" /> 



<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Récapitulatif de l'étude</a></li>
        <li><a href="#tab2" data-toggle="tab">Phases</a></li>
        <li><a href="#tab3" data-toggle="tab">Suivi</a></li>
        <li><a href="#tab4" data-toggle="tab">Documents Types</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            
            {% include "mgateSuiviBundle:Etude:Infos/error.html.twig" with  {'etude':  etude} %}
            <h2>Etude {{ getRefEtude(etude) }}</h2>
            {% if etude.stateDescription %}
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Information Suiveur</h4>
                {{ etude.stateDescription }}
            </div>
            {% endif %}
            <li>Par le mandat {{ etude.mandat }}, créée le {{ etude.dateCreation|date("d/m/Y") }}</li>
            <li>Client : <div class="btn-group" style="width : 200px">
                    <a class="btn btn-warning" href="#" style="width : 60%"><i class="icon-user icon-white"></i>{{ etude.prospect.nom }}</a>
                    <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-envelope"></i> Contacter</a></li>
                        <li><a href="{{ path('mgatePersonne_prospect_voir', {'id': etude.prospect.id}) }}"><i class="icon-envelope"></i> Voir</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="i"></i>Commenter</a></li>
                    </ul>
                </div></li>
                <br/>
            <li>Suiveur: <div class="btn-group" style="width : 200px">
            <a class="btn btn-success" href="#" style="width : 60%"><i class="icon-user icon-white"></i>{{etude.suiveur.prenomNom| default("Pas de suiveur!")}}</a>
            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-envelope"></i> Contacter</a></li>
            </ul>
        </div></li>
            <li>Description de l'étude: <br />{{etude.description }}</li>
            <a href="{{ path('mgateSuivi_etude_modifier', {'id': etude.id}) }}">modifier</a>
            <br>
            {% include "mgateSuiviBundle:Etude:Infos/warning.html.twig" with  {'etude':  etude} %}
            <p>
            <h3>Etat de l'étude:</h3>
            <br>
            <a href="{{ path('mgateSuivi_clientcontact_ajouter', {'id': etude.id}) }}">Ajouter un nouveau contact client</a>
            <div class="gantt" id="ganttId0"></div>
            

    {% for contact in etude.clientContacts %}
            <li><a href="{{ path('mgateSuivi_clientcontact_modifier', {'id': contact.id}) }}">Contact n°{{contact.id}}</a> effectué le {{ contact.date|date("d/m/Y") }}</li>
    {% endfor %}
            {% include "mgateSuiviBundle:Etude:Infos/info.html.twig" with  {'etude':  etude} %}

        </div>
            <!-- PHASES -->
            <div class="tab-pane" id="tab2" style="min-height:200px;">
                       {% include "mgateSuiviBundle:Etude:Blocks/Phase.html.twig" with  {'etude':  etude} %}
            </div>
            <!-- SUIVI -->
            <div class="tab-pane" id="tab3">
                <div class="row">
                    <!-- AVANT PROJET -->
                    <div class="span4">
                         {% include "mgateSuiviBundle:Etude:Blocks/AP.html.twig" with  {'etude':  etude} %}
                    </div>
                    <!-- CONVENTION CLIENT -->
                    <div class="span4">
                         {% include "mgateSuiviBundle:Etude:Blocks/CC.html.twig" with  {'etude':  etude} %}
                    </div>
                    <!-- RECAPITULATIF MISSION -->
                    <div class="span4">
                         {% include "mgateSuiviBundle:Etude:Blocks/RM.html.twig" with  {'etude':  etude} %}       
                    </div>
                    <!-- FACTURE ACCOMPTE -->
                    <div class="span4">
                         {% include "mgateSuiviBundle:Etude:Blocks/FA.html.twig" with  {'etude':  etude} %}  
                    </div>
                </div>




                            <p>
                            <h3>Procès-Verbal Intermédiaire:</h3>
    {% for pvi in etude.pvis %}
                            <li><a href="{{ path('mgateSuivi_procesverbal_modifier', {'id_pv': pvi.id}) }}">PVI n°{{pvi.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_procesverbal_ajouter', {'id': etude.id}) }}">Ajouter un PVI</a>
                            </p>
                            <p>
                            <h3>Procès-Verbal de Recette:</h3>
                            <li><a href="{{ path('mgateSuivi_procesverbal_rediger', {'id_etude': etude.id, 'type': 'pvr'}) }}">Rediger le PVR</a></li>
                            </p>
                            <p>
                            <h3>Facture de Solde:</h3>
                            <li><a href="{{ path('mgateSuivi_facture_rediger', {'id_etude': etude.id, 'type': 'fs'}) }}">Rediger la Facture de Solde</a></li>
                            </p>
                            <p>
                            <h3>Factures Intermédiaires:</h3>
    {% for facture in etude.fis %}
                            <li><a href="{{ path('mgateSuivi_facture_modifier', {'id_facture': facture.id}) }}">Facture Intermédiaire n°{{facture.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_facture_ajouter', {'id': etude.id}) }}">Ajouter une facture intermédiaire</a>
                            </p>
                            <p>
                            <h3>Avenants:</h3>
    {% for av in etude.avs %}
                            <li><a href="{{ path('mgateSuivi_av_modifier', {'id': av.id}) }}">Avenant n°{{av.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_av_ajouter', {'id': etude.id}) }}">Ajouter un Avenant</a>
                            </p>
                            <p>
                            <h3>Avenants au Récapitulatif de Mission:</h3>
    {% for av in etude.avMissions %}
                            <li><a href="{{ path('mgateSuivi_avmission_modifier', {'id': av.id}) }}">Avenant n°{{av.id}}</a></li>
    {% endfor %}
                            <a href="{{ path('mgateSuivi_avmission_ajouter', {'id': etude.id}) }}">Ajouter un Avenant au Récapitulatif de Mission</a>
                            </p>
                        </div>
              <!-- DOCUMENTS TYPES -->
            <div class="tab-pane" id="tab4">              
                <form id="myForm" method="post" action="{{path('mgateSuivi_etude_suivi_update', {'id': etude.id})}}" {{ form_enctype(formSuivi) }}>

                           {{ form_widget(formSuivi.ap) }}
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    {{ form_widget(formSuivi.cc) }}
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    {{ dump(formSuivi.missions) }}
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
     {{ form_rest(formSuivi) }}
                </form>   
            </div>
                    </div>
                </div>




                <p>
                    <br />
                    <a href="{{ path('mgateSuivi_etude_homepage') }}">Retour à la liste</a> - 
                    <a href="{{ path('mgateSuivi_etude_modifier', {'id': etude.id}) }}">Modifier l'étude</a>

 {# 
        <li>
            <form action="{{ path('mgateSuivi_etude_supprimer', { 'id': etude.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
#}	
                </p>

        {% if etude.thread|default('0') %}
            {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': etude.thread.id} %}
        {% endif %} 





 

{% endblock %}

{% block javascript_quick %}
{{ parent() }}
<script src="{{ asset('js/jquery.fn.gantt.js')}}"></script>
<script>
//Egalisation de la hauteur des lignes des phases
function equalHeight(group) {
   var tallest = 0;
   group.each(function() {
      thisHeight = $(this).height();     
      if(thisHeight > tallest) {
         tallest = thisHeight;
      }
   });
   group.css("height" , tallest);
}

$(window).load(function(){
    $("#tab2").addClass("active");
    var nombreDeLigneParPhase = $(".egalize tr").length / $(".egalize").length;
    for( var i = 1; i <= nombreDeLigneParPhase; i++){
        equalHeight($(".egalize tr:nth-child("+i+") th"));
    };
    $("#tab2").removeClass("active");
});
</script>
{% endblock %}

 {% block javascript %}
{{ parent() }}

<!--script src="http://taitems.github.com/UX-Lab/core/js/prettify.js"></script-->
<script>
$(document).ready(function() {

    //listen for the form beeing submitted
    $("#myForm :input").change(function(){
        $(".loading").show();
        var $form = $(this).closest("form");
        $.post($form.attr("action"), $form.serialize(), 
        function(data){
            $(".loading").hide();
            
            if(data.responseCode!=100 ){
               alert("An unexpeded error occured.");
               bootbox.alert(data, function() { });
               $('#output').html(data.msg);
            }
        });

        //we dont what the browser to submit the form
        return false;
    });


});


{% include "mgateSuiviBundle:Etude:Blocks/ganttAvancement.js.twig" with  {'etude':  etude, 'id' : 0} %}
</script>

{% endblock %}