{% extends "mgateSuiviBundle::layout.html.twig" %}
{% set valide    = asset('img/succes.png') %}
{% set nonValide = asset('img/cross.png') %}
{% set enCours   = asset('img/progress.png') %}
{% block menu %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="{{ path('mgateSuivi_etude_voir', {'id': etude.id}) }}">{{ getRefEtude(etude) }} - {{ etude.nom }}</a>
        <ul class="nav pull-right">
            <li>
            <li><a href="{{ path('mgateSuivi_vu_ca', {'id': prevID}) }}"><i class="icon-chevron-left"></i> Précédent</a></li>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accès Rapide <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="nav-header">En négociation</li>
                    {% for id, etudeRef in listEtudesNegociate %}
                    <li><a href="{{ path('mgateSuivi_vu_ca', {'id': id}) }}">{{etudeRef}}</a></li>
                    {% endfor %}
                    <li class="divider"></li>
                    <li class="nav-header">En cours</li>
                    {% for id, etudeRef in listEtudesCurrent %}
                    <li><a href="{{ path('mgateSuivi_vu_ca', {'id': id}) }}">{{etudeRef}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{{ path('mgateSuivi_vu_ca', {'id': nextID}) }}">Suivant <i class="icon-chevron-right"></i></a></li>
        </ul>


    </div>

</div>
            {% endblock %}
{% block breadcrumb %}
{% endblock %}


{% block content %}
<br/>
<table class="table table-bordered table-striped" style="padding-top: 0px;">
    <tr class="{{ (etude.stateID == 1 ? "info" : (etude.stateID == 2 ? "success" : (etude.stateID == 3 ? "warning" : (etude.stateID == 4 ? "" : "error")))) }}">
        <td><h5>{{ (etude.stateID == 4 ? "Terminée" : (etude.stateID == 5 ? "Avortée" : (etude.stateID == 3 ? "En Pause" : (etude.stateID == 2 ? "En Cours" : "En négociation")))) }}</h5></td>
        <td colspan="5"><strong>{{ etude.stateDescription }}</strong></td>
    </tr>
    <tr>
        <td>Client</td>
        <td colspan="2">{% include "mgateSuiviBundle:Etude:Buttons/Prospect.html.twig" with  {'prospect':  etude.prospect} %}</td>
        <td>Suiveur</td>
        <td colspan="2">{% include "mgateSuiviBundle:Etude:Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveur} %}</td>
    </tr>
                {% if etude.missions is not empty%}
    <tr>
        <td colspan="6" style=" text-align: center !important; ">
                    {% for mission in etude.missions %}
                    {% include "mgateSuiviBundle:Etude:Buttons/Intervenant.html.twig" with  {'idEtude':  etude.id, 'intervenant' : mission.intervenant, 'keyMission' : loop.index0 } %}
                    {% endfor %}
            </td>
        </tr>
                    {% endif %}
        <tr>
            <td>Crée le</td>
            <th>{{ etude.dateCreation|date("d/m/Y") }}</th>
            <td>Fin le</td>
            <th>{{ getDateFin(etude)|date("d/m/Y") }}</th>
            <td>Dernier Contact</td>
            <th>
                        {% set dernierContact = 0 %}
                        {% set derniercontactObject = null %}
                        {% for contact in etude.clientContacts%}
                                {% set dernierContact = dernierContact | date("U") < contact.date |date("U") ? contact.date : dernierContact %}
                                {% set derniercontactObject = dernierContact | date("U") < contact.date |date("U") ? contact : derniercontactObject %}
                        {% endfor %}
                        {% set dCU = dernierContact | date("U") %}
                    <span class="badge badge-{{ (dernierContact | date("dmy")) == ("now" | date("dmy")) ? "info" : (dCU > "now"|date("U") ? "important" : ( dCU > "now" |date_modify("-5 day")|date("U") ? "success" : (dCU > "now" |date_modify("-10 day")|date("U") ? "warning" : "important"))) }}">
                        {{ dernierContact | date("d/m/Y") == "01/01/1970" ? "Jamais" : dernierContact | date("d/m/Y") }}
                        </span>
                    </th>
                </tr>
                <tr>
                    <td style="text-align: center;"><span class="badge badge-{{ getEtatDoc(etude.ap) == 1 ? "warning" : getEtatDoc(etude.ap) == 2 ? "success" : "important" }}">AP</span></td>
                    <td style="text-align: center;"><span class="badge badge-{{ getEtatDoc(etude.cc) == 1 ? "warning" : getEtatDoc(etude.cc) == 2 ? "success" : "important" }}">CC</span></td>
                    <td style="text-align: center;"><span class="badge badge-{{ getEtatDoc(etude.fa) == 1 ? "warning" : getEtatDoc(etude.fa) == 2 ? "success" : "important" }}">FA</span></td>
                    <td style="text-align: center;">
                        {% for mission in etude.missions %}
                        <span title="{{mission.intervenant.personne.prenomNom | default("")}}" class="badge badge-{{ getEtatDoc(mission) == 1 ? "warning" : getEtatDoc(mission) == 2 ? "success" : "important" }}">RM {{ loop.index }}</span>
                        {% endfor %}
                    </td>
                    <td style="text-align: center;"><span class="badge badge-{{ getEtatDoc(etude.pvr) == 1 ? "warning" : getEtatDoc(etude.pvr) == 2 ? "success" : "important" }}">PVR</span></td>
                    <td style="text-align: center;"><span class="badge badge-{{ getEtatDoc(etude.fs) == 1 ? "warning" : getEtatDoc(etude.fs) == 2 ? "success" : "important" }}">FS</span></td>
                </tr>
                <tr>
                    <td>JEH</td>
                    <th colspan="2">{{getNbrJEH(etude) | default('0') }} JEH</th>
                    <td>Prix</td>
                    <th colspan="2">{{ getTotalHT(etude) | default('0') }} € HT</th>
                </tr>
                <tr>
                    <td colspan="6">{{etude.description }}</td>
                </tr>
            </table>

            <div id="ganttChart" style="width: 100%;"></div>
{% endblock %}

{% block javascript %}
{{ parent() }}
    <script src="{{ asset('js/highcharts.js') }}"></script>
    <script src="{{ asset('js/highcharts-fr.js') }}"></script>
    <script src="{{ asset('js/exporting.js') }}"></script>
    
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}