        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{# Formulaire d'ajout d'une cc #}

<form method="post" {{ form_enctype(form) }}>
	
	<table class="table table-bordered table-striped standard">
	<tr>
		<th>{{ form_label(form.faitPar) }}</th>
        <td>{{ form_widget(form.faitPar) }}</td>
	</tr>
	<tr>
		<th>{{ form_label(form.date) }}</th>
        <td>{{ form_widget(form.date) }}</td>
	</tr>
	<tr>
		<th>{{ form_label(form.objet) }}</th>
        <td>{{ form_widget(form.objet) }}</td>
	</tr>
	<tr>
		<th>{{ form_label(form.contenu) }}</th>
        <td>{{ form_widget(form.contenu) }}</td>
	</tr>
	<tr>
		<th>{{ form_label(form.moyenContact) }}</th>
        <td>{{ form_widget(form.moyenContact) }}</td>
	</tr>
	</table>
	{{ form_widget(form) }}
	
	<input type="submit" value="Enregistrer le nouveau contact du client" class="btn"/>
        
</form>
